Repository josedab/agenttrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-api, golangci-lint-sdk-go, golangci-lint-sdk-cli, ruff-check, ruff-format, mypy, eslint-web, eslint-sdk-ts, typecheck-web, typecheck-sdk-ts

golangci-lint-api:
  name: golangci-lint (api)
  entry: bash -c 'cd api && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

golangci-lint-sdk-go:
  name: golangci-lint (sdk/go)
  entry: bash -c 'cd sdk/go && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

golangci-lint-sdk-cli:
  name: golangci-lint (sdk/cli)
  entry: bash -c 'cd sdk/cli && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

ruff-check:
  name: ruff check (sdk/python)
  entry: bash -c 'cd sdk/python && ruff check .'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format check (sdk/python)
  entry: bash -c 'cd sdk/python && ruff format --check .'
  language: system
  pass_filenames: false

mypy:
  name: mypy (sdk/python)
  entry: bash -c 'cd sdk/python && mypy agenttrace'
  language: system
  pass_filenames: false

eslint-web:
  name: eslint (web)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

eslint-sdk-ts:
  name: eslint (sdk/typescript)
  entry: bash -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck (web)
  entry: bash -c 'cd web && npm run type-check'
  language: system
  pass_filenames: false

typecheck-sdk-ts:
  name: typecheck (sdk/typescript)
  entry: bash -c 'cd sdk/typescript && npx tsc --noEmit'
  language: system
  pass_filenames: false

feat(otel): add batch error tracking and proper TLS error handling
  api/internal/service/otel_exporter_service.go
  api/internal/service/otel_exporter_service_test.go
Due: golangci-lint-api

refactor(sso): implement per-issuer JWKS caching
  api/internal/service/sso_service.go
  api/internal/service/sso_service_test.go
Due: golangci-lint-api

fix(stripe): add explicit type assertions for webhook payloads
  api/internal/service/stripe_webhook_service.go
  api/internal/service/stripe_webhook_service_test.go
Due: golangci-lint-api

test(anomaly): add handler unit tests
  api/internal/handler/anomaly_test.go
Due: golangci-lint-api

test(audit): add handler unit tests
  api/internal/handler/audit_test.go
Due: golangci-lint-api

test(collaboration): add WebSocket hub unit tests
  api/internal/handler/collaboration_ws_test.go
Due: golangci-lint-api

chore: update .gitignore and pre-commit hooks
  .gitignore
  .pre-commit-config.yaml
Due: none

feat(devcontainer): enhance local development environment
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
Due: none

feat(config): add URL validation and improve config loader
  api/internal/config/config.go
  api/internal/config/config_test.go
  api/internal/config/loader.go
  api/internal/config/loader_test.go
  api/internal/config/urls.go
  api/internal/config/urls_test.go
Due: golangci-lint-api

feat(domain): add eval hub, outcome, and platform domain models
  api/internal/domain/apikey.go
  api/internal/domain/apikey_test.go
  api/internal/domain/digest_delivery.go
  api/internal/domain/enums.go
  api/internal/domain/eval_hub.go
  api/internal/domain/langfuse_import.go
  api/internal/domain/migration.go
  api/internal/domain/notification.go
  api/internal/domain/outcome.go
  api/internal/domain/outcome_delivery.go
  api/internal/domain/privacy_mode.go
  api/internal/domain/replay_plan.go
  api/internal/domain/score.go
  api/internal/domain/share_link.go
  api/internal/domain/streaming.go
  api/internal/domain/warehouse_sync.go
Due: golangci-lint-api

feat(migrations): add database migrations for roadmap and delivery features
  api/migrations/postgres/000011_sso.up.sql
  api/migrations/postgres/000026_next_gen_features_v2.down.sql
  api/migrations/postgres/000026_next_gen_features_v2.up.sql
  api/migrations/postgres/000028_v4_features.down.sql
  api/migrations/postgres/000028_v4_features.up.sql
  api/migrations/postgres/000032_v12_features.down.sql
  api/migrations/postgres/000032_v12_features.up.sql
  api/migrations/postgres/000033_backfill_default_projects.down.sql
  api/migrations/postgres/000033_backfill_default_projects.up.sql
  api/migrations/postgres/000034_nextgen_roadmap.down.sql
  api/migrations/postgres/000034_nextgen_roadmap.up.sql
  api/migrations/postgres/000035_webhook_delivery_keys.down.sql
  api/migrations/postgres/000035_webhook_delivery_keys.up.sql
Due: none

chore(deps): update Go module dependencies
  api/go.mod
  api/go.sum
Due: none

refactor(repository): enhance ClickHouse and Postgres data access layers
  api/internal/repository/clickhouse/checkpoint_repository.go
  api/internal/repository/clickhouse/gitlink_repository.go
  api/internal/repository/clickhouse/observation_repository.go
  api/internal/repository/clickhouse/score_repository.go
  api/internal/repository/clickhouse/session_repository.go
  api/internal/repository/clickhouse/trace_repository.go
  api/internal/repository/postgres/apikey_repository.go
  api/internal/repository/postgres/diff_analysis_repository.go
  api/internal/repository/postgres/guardrail_repository.go
  api/internal/repository/postgres/migration_repository.go
  api/internal/repository/postgres/replay_session_repository.go
  api/internal/repository/postgres/webhook_repository.go
Due: golangci-lint-api

feat(repository): add eval hub, outcome, and share link repositories
  api/internal/repository/clickhouse/outcome_repository.go
  api/internal/repository/clickhouse/outcome_repository_test.go
  api/internal/repository/clickhouse/values.go
  api/internal/repository/clickhouse/values_test.go
  api/internal/repository/postgres/eval_hub_repository.go
  api/internal/repository/postgres/eval_hub_repository_test.go
  api/internal/repository/postgres/github_reporting_repository.go
  api/internal/repository/postgres/migration_repository_test.go
  api/internal/repository/postgres/replay_plan_repository.go
  api/internal/repository/postgres/share_link_repository.go
Due: golangci-lint-api

refactor(service): enhance auth, streaming, replay, and query services
  api/internal/service/adapter_service_test.go
  api/internal/service/auth_service.go
  api/internal/service/auth_service_test.go
  api/internal/service/benchmark_service.go
  api/internal/service/checkpoint_service.go
  api/internal/service/dataset_service.go
  api/internal/service/diff_intelligence_service.go
  api/internal/service/diff_intelligence_service_test.go
  api/internal/service/federation_service.go
  api/internal/service/federation_service_test.go
  api/internal/service/gitlink_service.go
  api/internal/service/guardrail_service.go
  api/internal/service/guardrail_service_test.go
  api/internal/service/ingestion_trace.go
  api/internal/service/interfaces.go
  api/internal/service/llm_client.go
  api/internal/service/migration_service.go
  api/internal/service/nlquery.go
  api/internal/service/nlquery_test.go
  api/internal/service/notification_service.go
  api/internal/service/otel_bridge_service.go
  api/internal/service/otel_compat_service.go
  api/internal/service/otel_compat_service_test.go
  api/internal/service/otel_exporter_service.go
  api/internal/service/otel_exporter_service_test.go
  api/internal/service/project_service.go
  api/internal/service/prompt_service.go
  api/internal/service/query_service.go
  api/internal/service/replay_service.go
  api/internal/service/replay_session_service.go
  api/internal/service/replay_session_service_test.go
  api/internal/service/score_service.go
  api/internal/service/streaming_service.go
  api/internal/service/streaming_service_test.go
  api/internal/service/warehouse_sync_service.go
Due: golangci-lint-api

feat(service): add eval hub service with curated asset management
  api/internal/service/eval_hub_assets.go
  api/internal/service/eval_hub_assets_test.go
  api/internal/service/eval_hub_service.go
  api/internal/service/eval_hub_service_test.go
  api/internal/service/eval_marketplace_service.go
Due: golangci-lint-api

feat(service): add outcome analytics and langfuse import services
  api/internal/service/github_outcome_reporter.go
  api/internal/service/github_outcome_reporter_test.go
  api/internal/service/langfuse_import_mapper.go
  api/internal/service/langfuse_import_mapper_test.go
  api/internal/service/langfuse_import_service.go
  api/internal/service/langfuse_import_service_test.go
  api/internal/service/outcome_report.go
  api/internal/service/outcome_service.go
  api/internal/service/outcome_service_test.go
Due: golangci-lint-api

feat(service): add share links, replay plans, redaction, and egress policy
  api/internal/service/egress_enforcement_test.go
  api/internal/service/egress_policy.go
  api/internal/service/egress_policy_test.go
  api/internal/service/migration_service_test.go
  api/internal/service/notification_service_test.go
  api/internal/service/redaction_service.go
  api/internal/service/redaction_service_test.go
  api/internal/service/replay_plan_service.go
  api/internal/service/replay_plan_service_test.go
  api/internal/service/replay_session_view_service.go
  api/internal/service/share_link_service.go
  api/internal/service/share_link_service_test.go
  api/internal/service/team_digest_delivery_service.go
  api/internal/service/team_digest_delivery_service_test.go
Due: golangci-lint-api

refactor(middleware): enhance auth, CORS, CSRF, and observability
  api/internal/middleware/auth.go
  api/internal/middleware/auth_test.go
  api/internal/middleware/cors.go
  api/internal/middleware/cors_test.go
  api/internal/middleware/csrf.go
  api/internal/middleware/csrf_test.go
  api/internal/middleware/logger.go
  api/internal/middleware/logger_test.go
  api/internal/middleware/metrics.go
  api/internal/middleware/metrics_test.go
  api/internal/middleware/ratelimit.go
  api/internal/middleware/ratelimit_test.go
  api/internal/middleware/recover.go
Due: golangci-lint-api

feat(middleware): add share link rate limiting
  api/internal/middleware/share_ratelimit.go
  api/internal/middleware/share_ratelimit_test.go
Due: golangci-lint-api

feat(handler): add eval hub, outcomes, and langfuse import endpoints
  api/internal/handler/eval_hub.go
  api/internal/handler/eval_hub_test.go
  api/internal/handler/langfuse_import.go
  api/internal/handler/langfuse_import_test.go
  api/internal/handler/outcome_delivery.go
  api/internal/handler/outcomes.go
  api/internal/handler/outcomes_test.go
Due: golangci-lint-api

feat(handler): add share links, privacy, replay plans, and team digest
  api/internal/handler/auth_oauth_test.go
  api/internal/handler/egress_routes_test.go
  api/internal/handler/export_test.go
  api/internal/handler/helpers_test.go
  api/internal/handler/privacy_mode.go
  api/internal/handler/redaction.go
  api/internal/handler/replay_plan.go
  api/internal/handler/replay_plan_test.go
  api/internal/handler/roadmap_helpers.go
  api/internal/handler/roadmap_helpers_test.go
  api/internal/handler/share_links.go
  api/internal/handler/share_links_test.go
  api/internal/handler/team_digest.go
Due: golangci-lint-api

feat(cmd): enhance server wiring and add migration CLI
  api/cmd/check-clickhouse-migrations/main.go
  api/cmd/migrate/main.go
  api/cmd/server/deps.go
  api/cmd/server/deps_databases.go
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_repositories.go
  api/cmd/server/deps_services.go
  api/cmd/server/main.go
  api/cmd/server/main_test.go
  api/cmd/server/routes.go
  api/cmd/server/routes_analysis.go
  api/cmd/server/routes_compliance.go
  api/cmd/server/routes_infra.go
  api/cmd/server/routes_prompts.go
  api/cmd/server/routes_scores.go
  api/cmd/server/routes_traces.go
  api/cmd/server/routes_v10.go
  api/cmd/server/routes_v11.go
  api/cmd/worker/main.go
  api/internal/migration/clickhouse.go
  api/internal/migration/clickhouse_test.go
  api/internal/migration/runner.go
  api/internal/migration/runner_test.go
  api/internal/testutil/containers.go
  api/internal/worker/export_worker.go
  api/tests/e2e/e2e_test.go
Due: golangci-lint-api

chore(api): update Dockerfile, linting, and API documentation
  api/.dockerignore
  api/.env.example
  api/.golangci.yml
  api/Dockerfile
  api/Makefile
  api/docs/DEPLOYMENT.md
  api/docs/openapi.yaml
Due: none

feat(sdk/go): enhance Go SDK with prompt caching and checkpoints
  sdk/go/agenttrace.go
  sdk/go/agenttrace_race_test.go
  sdk/go/agenttrace_test.go
  sdk/go/checkpoint.go
  sdk/go/go.mod
  sdk/go/prompt.go
Due: golangci-lint-sdk-go

feat(sdk/python): improve decorators, transport, and integrations
  sdk/python/agenttrace/auto_discovery.py
  sdk/python/agenttrace/checkpoint.py
  sdk/python/agenttrace/decorators.py
  sdk/python/agenttrace/fileops.py
  sdk/python/agenttrace/generation.py
  sdk/python/agenttrace/integrations/langchain.py
  sdk/python/agenttrace/integrations/llamaindex.py
  sdk/python/agenttrace/integrations/openai.py
  sdk/python/agenttrace/prompt.py
  sdk/python/agenttrace/terminal.py
  sdk/python/agenttrace/transport/batch.py
  sdk/python/agenttrace/transport/http.py
  sdk/python/pyproject.toml
  sdk/python/tests/test_checkpoint.py
  sdk/python/tests/test_client.py
  sdk/python/tests/test_fileops.py
  sdk/python/tests/test_git.py
  sdk/python/tests/test_terminal.py
Due: ruff-check, ruff-format, mypy

feat(sdk/ts): upgrade TypeScript SDK and refactor build
  sdk/typescript/.eslintrc.json
  sdk/typescript/README.md
  sdk/typescript/eslint.config.mjs
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/fileops.ts
  sdk/typescript/src/prompt.ts
  sdk/typescript/src/terminal.ts
  sdk/typescript/src/transport/batch.ts
  sdk/typescript/src/transport/http.ts
  sdk/typescript/tests/client.test.ts
  sdk/typescript/tests/observe.test.ts
  sdk/typescript/tests/terminal.test.ts
  sdk/typescript/tsconfig.json
  sdk/typescript/tsup.config.ts
Due: eslint-sdk-ts, typecheck-sdk-ts

feat(sdk/cli): add init command and enhance MCP/migrate commands
  sdk/cli/cmd/init.go
  sdk/cli/cmd/init_test.go
  sdk/cli/cmd/mcp.go
  sdk/cli/cmd/mcp_test.go
  sdk/cli/cmd/migrate.go
  sdk/cli/cmd/migrate_test.go
  sdk/cli/cmd/root.go
  sdk/cli/cmd/root_test.go
  sdk/cli/go.mod
Due: golangci-lint-sdk-cli

feat(web): add frontend libraries and utility modules
  web/lib/__tests__/api.test.ts
  web/lib/__tests__/navigation.test.ts
  web/lib/__tests__/product-capabilities.test.ts
  web/lib/api.ts
  web/lib/api/__tests__/transport.test.ts
  web/lib/api/clients/automation-collaboration-platform.ts
  web/lib/api/clients/core.ts
  web/lib/api/clients/identity.ts
  web/lib/api/clients/intelligence-governance.ts
  web/lib/api/clients/observability.ts
  web/lib/api/clients/prompts-evals-data.ts
  web/lib/api/contracts.ts
  web/lib/api/normalizers.ts
  web/lib/api/transport.ts
  web/lib/auth.ts
  web/lib/eval-hub.ts
  web/lib/idempotency.ts
  web/lib/navigation.ts
  web/lib/outcomes.ts
  web/lib/privacy-mode.ts
  web/lib/product-capabilities.ts
  web/lib/replay-plans.ts
  web/lib/share-links.ts
  web/middleware.ts
Due: eslint-web, typecheck-web

chore(web): update frontend dependencies and build config
  web/.env.example
  web/Dockerfile
  web/eslint.config.mjs
  web/next-env.d.ts
  web/next.config.ts
  web/package-lock.json
  web/package.json
  web/public/.gitkeep
  web/public/icon.svg
  web/public/site.webmanifest
  web/tailwind.config.ts
  web/vitest.config.ts
Due: eslint-web, typecheck-web

feat(deploy): enhance Docker, Kubernetes, and add backup/restore
  deploy/.env.example
  deploy/backup.sh
  deploy/clickhouse/Dockerfile
  deploy/clickhouse/backup.xml
  deploy/docker-compose.cloud.yml
  deploy/docker-compose.dev.yml
  deploy/docker-compose.e2e.yml
  deploy/docker-compose.yml
  deploy/kubernetes/README.md
  deploy/kubernetes/api.yaml
  deploy/kubernetes/clickhouse.yaml
  deploy/kubernetes/configmap.yaml
  deploy/kubernetes/ingress.yaml
  deploy/kubernetes/kustomization.yaml
  deploy/kubernetes/network-policies.yaml
  deploy/kubernetes/postgres.yaml
  deploy/kubernetes/redis.yaml
  deploy/kubernetes/secrets.yaml.example
  deploy/kubernetes/web.yaml
  deploy/kubernetes/worker.yaml
  deploy/nginx/cloud.conf
  deploy/nginx/nginx.conf
  deploy/postgres/Dockerfile
  deploy/restore.sh
  deploy/smoke-test.sh
Due: none

ci: update CI/CD, release, and security workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

docs: update documentation and add feature guides
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/adrs/ADR-008-dual-authentication.md
  docs/docs/agent-features/replay-debugger.md
  docs/docs/api-reference/authentication.md
  docs/docs/api-reference/graphql.md
  docs/docs/api-reference/index.md
  docs/docs/api-reference/next-generation.md
  docs/docs/evaluation/eval-hub.md
  docs/docs/features/outcome-analytics.md
  docs/docs/getting-started/comparison.md
  docs/docs/getting-started/development.md
  docs/docs/getting-started/first-trace.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/migration-from-langfuse.md
  docs/docs/getting-started/quickstart.md
  docs/docs/integrations/github-app.md
  docs/docs/integrations/notifications.md
  docs/docs/sdks/cli.md
  docs/docs/sdks/go.md
  docs/docs/sdks/index.md
  docs/docs/self-hosting/backup.md
  docs/docs/self-hosting/configuration.md
  docs/docs/self-hosting/docker-compose.md
  docs/docs/self-hosting/kubernetes.md
  docs/docs/self-hosting/overview.md
  docs/docs/self-hosting/privacy-mode.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
  docs/static/img/logo.svg
  docs/static/img/social-card.svg
Due: none

chore(gitignore): ignore raw profiling artifacts
  .gitignore
Due: none

Path conditions:
  golangci-lint-api: any of: ^api/.*\.go$
  golangci-lint-sdk-go: any of: ^sdk/go/.*\.go$
  golangci-lint-sdk-cli: any of: ^sdk/cli/.*\.go$
  ruff-check: any of: ^sdk/python/.*\.py$
  ruff-format: any of: ^sdk/python/.*\.py$
  mypy: any of: ^sdk/python/.*\.py$
  eslint-web: any of: ^web/.*\.(ts|tsx|js|jsx)$
  eslint-sdk-ts: any of: ^sdk/typescript/.*\.(ts|tsx|js|jsx)$
  typecheck-web: any of: ^web/.*\.(ts|tsx)$
  typecheck-sdk-ts: any of: ^sdk/typescript/.*\.ts$
