Repository josedab/agenttrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-api, golangci-lint-sdk-go, golangci-lint-sdk-cli, ruff-check, ruff-format, mypy, eslint-web, eslint-sdk-ts, typecheck-web, typecheck-sdk-ts

golangci-lint-api:
  name: golangci-lint (api)
  entry: bash -c 'cd api && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

golangci-lint-sdk-go:
  name: golangci-lint (sdk/go)
  entry: bash -c 'cd sdk/go && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

golangci-lint-sdk-cli:
  name: golangci-lint (sdk/cli)
  entry: bash -c 'cd sdk/cli && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

ruff-check:
  name: ruff check (sdk/python)
  entry: bash -c 'cd sdk/python && ruff check .'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format check (sdk/python)
  entry: bash -c 'cd sdk/python && ruff format --check .'
  language: system
  pass_filenames: false

mypy:
  name: mypy (sdk/python)
  entry: bash -c 'cd sdk/python && mypy agenttrace'
  language: system
  pass_filenames: false

eslint-web:
  name: eslint (web)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

eslint-sdk-ts:
  name: eslint (sdk/typescript)
  entry: bash -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck (web)
  entry: bash -c 'cd web && npm run type-check'
  language: system
  pass_filenames: false

typecheck-sdk-ts:
  name: typecheck (sdk/typescript)
  entry: bash -c 'cd sdk/typescript && npx tsc --noEmit'
  language: system
  pass_filenames: false

feat(api): add LLM gateway with smart routing and proxy core
  api/internal/domain/gateway.go
  api/internal/gateway/proxy.go
  api/internal/handler/gateway.go
  api/internal/service/gateway_service.go
  web/app/(dashboard)/gateway/page.tsx
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add canary deployment with progressive rollout
  api/internal/domain/canary.go
  api/internal/handler/canary_deployment.go
  api/internal/service/canary_deployment_service.go
  web/app/(dashboard)/canary/page.tsx
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add trace-powered test generation and CI action
  actions/test-generation/action.yml
  api/internal/domain/test_suite.go
  api/internal/handler/test_generator.go
  api/internal/service/test_generator_service.go
  web/app/(dashboard)/test-suites/page.tsx
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add PR-style trace review workflow
  api/internal/domain/trace_review.go
  api/internal/handler/trace_review.go
  api/internal/service/trace_review_service.go
  web/app/(dashboard)/reviews/page.tsx
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add edge and mobile device monitoring
  api/internal/domain/edge_device.go
  api/internal/handler/edge_ingest.go
  api/internal/service/edge_ingest_service.go
  sdk/edge/README.md
  web/app/(dashboard)/edge/page.tsx
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add compliance certification export
  api/internal/domain/certification.go
  api/internal/handler/certification_export.go
  api/internal/service/certification_export_service.go
Due: golangci-lint-api

feat(api): add data warehouse sync for Snowflake and BigQuery
  api/internal/domain/warehouse_sync.go
  api/internal/handler/warehouse_sync.go
  api/internal/service/warehouse_sync_service.go
  web/app/(dashboard)/integrations/warehouse/page.tsx
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add prompt version impact analysis
  api/internal/domain/prompt_impact.go
  api/internal/handler/prompt_impact.go
  api/internal/service/prompt_impact_service.go
Due: golangci-lint-api

feat(api): add automated runbook engine
  api/internal/handler/runbook_engine.go
  api/internal/service/runbook_engine_service.go
Due: golangci-lint-api

feat(api): wire v10 routes, handlers, and service dependencies
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_services.go
  api/cmd/server/routes.go
  api/cmd/server/routes_v10.go
Due: golangci-lint-api

feat(api): add trace diff comparison engine
  api/internal/domain/trace_diff.go
  api/internal/handler/trace_diff_handler.go
  api/internal/service/trace_diff_service.go
  web/app/(dashboard)/trace-diff/page.tsx
  web/components/trace-diff/trace-diff-viewer.tsx
  web/hooks/use-trace-diff.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add browser-based eval playground
  api/internal/domain/eval_playground.go
  api/internal/handler/eval_playground_handler.go
  api/internal/service/eval_playground_service.go
  web/app/(dashboard)/eval-playground/page.tsx
  web/components/eval-playground/eval-playground.tsx
  web/hooks/use-eval-playground.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add trace-linked code impact maps
  api/internal/domain/code_impact.go
  api/internal/handler/code_impact_handler.go
  api/internal/service/code_impact_service.go
  web/app/(dashboard)/code-impact/page.tsx
  web/components/code-impact/code-impact-map.tsx
  web/hooks/use-code-impact.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add real-time streaming dashboard
  api/internal/domain/streaming_dashboard.go
  api/internal/handler/streaming_dashboard_handler.go
  api/internal/service/streaming_dashboard_service.go
  web/app/(dashboard)/streaming-dashboard/page.tsx
  web/components/streaming-dashboard/streaming-dashboard.tsx
  web/hooks/use-streaming-dashboard.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add evaluation dataset marketplace
  api/internal/domain/eval_marketplace.go
  api/internal/handler/eval_marketplace_handler.go
  api/internal/service/eval_marketplace_service.go
  web/app/(dashboard)/eval-marketplace/page.tsx
  web/components/eval-marketplace/eval-marketplace-browser.tsx
  web/hooks/use-eval-marketplace.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add session journey tracking
  api/internal/domain/session_journey.go
  api/internal/handler/session_journey_handler.go
  api/internal/service/session_journey_service.go
  web/app/(dashboard)/session-journeys/page.tsx
  web/components/session-journeys/session-journey-timeline.tsx
  web/hooks/use-session-journeys.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add webhook-based trace enrichment
  api/internal/domain/trace_enrichment.go
  api/internal/handler/trace_enrichment_handler.go
  api/internal/service/trace_enrichment_service.go
  web/app/(dashboard)/enrichment/page.tsx
  web/components/enrichment/enrichment-rule-builder.tsx
  web/hooks/use-trace-enrichment.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add cost forecasting with what-if scenarios
  api/internal/domain/cost_forecast.go
  api/internal/handler/cost_forecast_handler.go
  api/internal/service/cost_forecast_service.go
  web/app/(dashboard)/cost-forecast/page.tsx
  web/components/cost-forecast/cost-forecast-dashboard.tsx
  web/hooks/use-cost-forecast.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add trace knowledge base for annotations
  api/internal/domain/trace_knowledge_base.go
  api/internal/handler/trace_kb_handler.go
  api/internal/service/trace_kb_service.go
  web/app/(dashboard)/knowledge-base/page.tsx
  web/components/knowledge-base/knowledge-base-browser.tsx
  web/hooks/use-trace-kb.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): add OpenTelemetry bidirectional bridge
  api/internal/domain/otel_bridge.go
  api/internal/handler/otel_bridge_handler.go
  api/internal/service/otel_bridge_service.go
  web/app/(dashboard)/otel-bridge/page.tsx
  web/components/otel-bridge/otel-bridge-config.tsx
  web/hooks/use-otel-bridge.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(api): wire v11 routes, handlers, and service dependencies
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_services.go
  api/cmd/server/routes.go
  api/cmd/server/routes_v11.go
Due: golangci-lint-api

chore: add tmp/ to gitignore
  .gitignore
Due: none

chore(api): add air config for Go hot-reload
  api/.air.toml
Due: none

refactor(api): extract ingestion service into domain-specific files
  api/internal/service/ingestion_batch.go
  api/internal/service/ingestion_generation.go
  api/internal/service/ingestion_service.go
  api/internal/service/ingestion_span.go
  api/internal/service/ingestion_trace.go
Due: golangci-lint-api

feat(make): add dev-hot target and improve dev workflow
  Makefile
Due: none

fix(ci): pin golangci-lint to v1.63
  .github/workflows/ci.yml
Due: none

docs(readme): add codecov badge
  README.md
Due: none

docs: add ClickHouse troubleshooting guides
  docs/docs/troubleshooting.md
Due: none

test(web): add RecentTraces component tests
  web/components/__tests__/recent-traces.test.tsx
Due: eslint-web, typecheck-web

test(web): add use-prompts hook tests
  web/hooks/__tests__/use-prompts.test.ts
Due: eslint-web, typecheck-web

test(web): add use-scores hook tests
  web/hooks/__tests__/use-scores.test.ts
Due: eslint-web, typecheck-web

fix(auth): remove API key extraction from query parameters
  api/internal/middleware/auth.go
Due: golangci-lint-api

fix(middleware): sanitize sensitive query params in request logs
  api/internal/middleware/logger.go
Due: golangci-lint-api

feat(middleware): add IP-based rate limiter with sliding window
  api/internal/middleware/ratelimit.go
Due: golangci-lint-api

fix(handler): stop leaking internal errors to API responses
  api/internal/handler/canary_deployment.go
  api/internal/handler/certification_export.go
  api/internal/handler/edge_ingest.go
  api/internal/handler/eval_playground_handler.go
  api/internal/handler/gateway.go
  api/internal/handler/plugin.go
  api/internal/handler/prompt_impact.go
  api/internal/handler/prompt_lab.go
  api/internal/handler/runbook_engine.go
  api/internal/handler/sandbox.go
  api/internal/handler/test_generator.go
  api/internal/handler/trace_diff_handler.go
  api/internal/handler/trace_review.go
  api/internal/handler/warehouse_sync.go
Due: golangci-lint-api

fix(handler): remove connection error details from health endpoint
  api/internal/handler/health.go
Due: golangci-lint-api

fix(auth): validate refresh token expiry before reissuing
  api/internal/service/auth_service.go
Due: golangci-lint-api

fix(auth): harden JWT validation with audience and method restrictions
  api/internal/service/auth_service.go
Due: golangci-lint-api

fix(gitops): prevent path traversal in prompt name resolution
  api/internal/service/gitops_prompt_service.go
Due: golangci-lint-api

fix(config): enforce non-default credentials in production mode
  api/internal/config/loader.go
Due: golangci-lint-api

Path conditions:
  golangci-lint-api: any of: ^api/.*\.go$
  golangci-lint-sdk-go: any of: ^sdk/go/.*\.go$
  golangci-lint-sdk-cli: any of: ^sdk/cli/.*\.go$
  ruff-check: any of: ^sdk/python/.*\.py$
  ruff-format: any of: ^sdk/python/.*\.py$
  mypy: any of: ^sdk/python/.*\.py$
  eslint-web: any of: ^web/.*\.(ts|tsx|js|jsx)$
  eslint-sdk-ts: any of: ^sdk/typescript/.*\.(ts|tsx|js|jsx)$
  typecheck-web: any of: ^web/.*\.(ts|tsx)$
  typecheck-sdk-ts: any of: ^sdk/typescript/.*\.ts$
