Repository josedab/agenttrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-api, golangci-lint-sdk-go, golangci-lint-sdk-cli, ruff-check, ruff-format, mypy, eslint-web, eslint-sdk-ts, typecheck-web, typecheck-sdk-ts

.pre-commit-config.yaml:

# Pre-commit hooks for AgentTrace
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Go linting
  - repo: local
    hooks:
      - id: golangci-lint-api
        name: golangci-lint (api)
        entry: bash -c 'cd api && golangci-lint run --timeout=5m'
        language: system
        files: ^api/.*\.go$
        pass_filenames: false

      - id: golangci-lint-sdk-go
        name: golangci-lint (sdk/go)
        entry: bash -c 'cd sdk/go && golangci-lint run --timeout=5m'
        language: system
        files: ^sdk/go/.*\.go$
        pass_filenames: false

      - id: golangci-lint-sdk-cli
        name: golangci-lint (sdk/cli)
        entry: bash -c 'cd sdk/cli && golangci-lint run --timeout=5m'
        language: system
        files: ^sdk/cli/.*\.go$
        pass_filenames: false

  # Python linting
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check (sdk/python)
        entry: bash -c 'cd sdk/python && ruff check .'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format check (sdk/python)
        entry: bash -c 'cd sdk/python && ruff format --check .'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

      - id: mypy
        name: mypy (sdk/python)
        entry: bash -c 'cd sdk/python && mypy agenttrace'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint-web
        name: eslint (web)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: eslint-sdk-ts
        name: eslint (sdk/typescript)
        entry: bash -c 'cd sdk/typescript && npm run lint'
        language: system
        files: ^sdk/typescript/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck (web)
        entry: bash -c 'cd web && npm run type-check'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-sdk-ts
        name: typecheck (sdk/typescript)
        entry: bash -c 'cd sdk/typescript && npx tsc --noEmit'
        language: system
        files: ^sdk/typescript/.*\.ts$
        pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.snap)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

feat(ws): require authentication for WebSocket connections
  api/internal/handler/collaboration_ws.go
Due: golangci-lint-api

feat(routes): add rate limiting and auth to public endpoints
  api/cmd/server/routes.go
Due: golangci-lint-api

refactor(domain): rename ambiguous types in custom metrics module
  api/internal/domain/custom_metrics.go
  api/internal/service/custom_metrics_service.go
Due: golangci-lint-api

refactor(handlers): use typed UUIDs in handler service calls
  api/internal/handler/code_impact_handler.go
  api/internal/handler/cost_forecast_handler.go
  api/internal/handler/eval_marketplace_handler.go
  api/internal/handler/otel_bridge_handler.go
  api/internal/handler/session_journey_handler.go
  api/internal/handler/streaming_dashboard_handler.go
  api/internal/handler/trace_comparison.go
  api/internal/handler/trace_enrichment_handler.go
  api/internal/handler/trace_kb_handler.go
  api/internal/service/code_impact_service.go
  api/internal/service/cost_forecast_service.go
  api/internal/service/session_journey_service.go
  api/internal/service/trace_diff_service.go
Due: golangci-lint-api

fix(auth): use OrganizationID field in hierarchical access check
  api/internal/service/auth_service.go
  api/internal/service/rbac_service.go
Due: golangci-lint-api

chore(security): add security policy
  SECURITY.md
Due: none

chore(deps): add miniredis test dependency
  api/go.mod
  api/go.sum
Due: none

test(auth): add refresh token and session edge case tests
  api/internal/service/auth_service_test.go
Due: golangci-lint-api

test(services): add unit tests for core services
  api/internal/service/anomaly_service_test.go
  api/internal/service/billing_service_test.go
  api/internal/service/collaboration_service_test.go
  api/internal/service/cost_attribution_service_test.go
  api/internal/service/nlquery_test.go
  api/internal/service/rbac_service_test.go
Due: golangci-lint-api

test(infra): add config, middleware, and websocket tests
  api/internal/config/loader_test.go
  api/internal/handler/streaming_ws_test.go
  api/internal/middleware/logger_test.go
  api/internal/middleware/ratelimit_test.go
Due: golangci-lint-api

docs(readme): expand API reference and environment variables
  README.md
Due: none

docs(sdk): add TypeScript SDK documentation
  sdk/typescript/README.md
Due: none

feat(multi-agent): add topology analytics and delegation tracking
  api/internal/domain/multi_agent_graph.go
  api/internal/handler/multi_agent_graph.go
  api/internal/service/multi_agent_graph_service.go
  api/internal/service/multi_agent_graph_service_test.go
Due: golangci-lint-api

feat(prompt-ci): add regression history, gate updates, and stats
  api/internal/domain/prompt_ci.go
  api/internal/handler/prompt_ci.go
  api/internal/service/prompt_ci_service.go
  api/internal/service/prompt_ci_service_test.go
Due: golangci-lint-api

feat(replay): add unified timeline, snapshots, and annotations
  api/internal/domain/replay_session.go
  api/internal/handler/replay_session.go
  api/internal/service/replay_session_service.go
  api/internal/service/replay_session_service_test.go
Due: golangci-lint-api

feat(collaboration): add review workflow with threaded comments
  api/internal/domain/collaboration.go
  api/internal/handler/collaboration.go
  api/internal/service/collaboration_service.go
Due: golangci-lint-api

feat(cost): add autopilot rules, hotspots, and predictions
  api/internal/domain/cost_optimization.go
  api/internal/handler/cost_optimizer.go
  api/internal/service/cost_optimizer_service.go
  api/internal/service/cost_optimizer_service_test.go
Due: golangci-lint-api

feat(federated): add analytics dashboard and privacy-preserving queries
  api/internal/domain/federated_aggregation.go
  api/internal/handler/federated_aggregation.go
  api/internal/service/federated_aggregation_service.go
  api/internal/service/federated_aggregation_service_test.go
Due: golangci-lint-api

feat(guardrails): add self-healing policies and evaluation pipeline
  api/internal/domain/guardrail.go
  api/internal/handler/guardrails.go
  api/internal/service/guardrail_service.go
  api/internal/service/guardrail_service_test.go
Due: golangci-lint-api

feat(rca): add intelligent alerting with anomaly correlation
  api/internal/domain/root_cause.go
  api/internal/handler/rca.go
  api/internal/service/rca_service.go
  api/internal/service/rca_service_test.go
Due: golangci-lint-api

feat(ab-testing): add prompt A/B testing with traffic splitting
  api/internal/domain/ab_testing.go
  api/internal/handler/ab_testing.go
  api/internal/service/ab_testing_service.go
  api/internal/service/ab_testing_service_test.go
Due: golangci-lint-api

feat(adapters): add universal agent protocol adapter
  api/internal/domain/adapter.go
  api/internal/handler/adapter.go
  api/internal/service/adapter_service.go
  api/internal/service/adapter_service_test.go
Due: golangci-lint-api

feat(api): add v12 database migration
  api/migrations/postgres/000032_v12_features.down.sql
  api/migrations/postgres/000032_v12_features.up.sql
Due: none

feat(routes): wire v12 services, handlers, and routes
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_services.go
  api/cmd/server/routes.go
  api/cmd/server/routes_v11.go
  api/cmd/server/routes_v12.go
  api/internal/handler/streaming_ws.go
Due: golangci-lint-api

feat(actions): add prompt CI gate to regression-gate action
  actions/regression-gate/action.yml
Due: none

feat(web): add topology and collaborative review dashboards
  web/app/(dashboard)/multi-agent/page.tsx
  web/app/(dashboard)/reviews/page.tsx
  web/components/agent-graph/topology-dashboard.tsx
  web/components/collaboration/trace-review-panel.tsx
  web/hooks/use-topology.ts
  web/hooks/use-trace-reviews.ts
Due: eslint-web, typecheck-web

feat(web): add prompt CI and replay engine dashboards
  web/app/(dashboard)/prompt-ci/page.tsx
  web/app/(dashboard)/replay/page.tsx
  web/app/(dashboard)/replay/replay-dashboard.tsx
  web/components/prompts/prompt-ci-dashboard.tsx
  web/components/replay/replay-engine.tsx
  web/hooks/use-prompt-ci.ts
  web/hooks/use-replay-sessions.ts
Due: eslint-web, typecheck-web

feat(web): add cost autopilot, guardrails, and alerts dashboards
  web/app/(dashboard)/cost-optimizer/autopilot/page.tsx
  web/app/(dashboard)/guardrails/self-healing/page.tsx
  web/app/(dashboard)/rca/intelligent-alerts/page.tsx
  web/components/cost-optimizer/cost-autopilot-dashboard.tsx
  web/components/guardrails/self-healing-dashboard.tsx
  web/components/rca/rca-dashboard.tsx
  web/hooks/use-cost-autopilot.ts
  web/hooks/use-intelligent-alerts.ts
  web/hooks/use-self-healing.ts
Due: eslint-web, typecheck-web

feat(web): add A/B testing, adapter, and federated dashboards
  web/app/(dashboard)/federated/analytics/page.tsx
  web/app/(dashboard)/integrations/adapters/page.tsx
  web/app/(dashboard)/prompts/ab-testing/page.tsx
  web/components/adapters/adapter-manager.tsx
  web/components/federated/federated-analytics-dashboard.tsx
  web/components/prompts/ab-testing-dashboard.tsx
  web/hooks/use-ab-testing.ts
  web/hooks/use-adapters.ts
  web/hooks/use-federated-analytics.ts
Due: eslint-web, typecheck-web

feat(web): extend API client with v12 endpoints
  web/lib/api.ts
Due: eslint-web, typecheck-web

fix(api): add context timeout to async usage metering goroutine
  api/internal/middleware/tenant.go
Due: golangci-lint-api

chore(sdk): add .env.example files for all SDKs
  sdk/cli/.env.example
  sdk/go/.env.example
  sdk/python/.env.example
  sdk/typescript/.env.example
Due: none

refactor(web): migrate eslint to flat config format
  web/.eslintignore
  web/eslint.config.mjs
Due: none

chore(web): add coverage thresholds to vitest config
  web/vitest.config.ts
Due: eslint-web, typecheck-web

feat(make): add format-check and test-coverage targets
  Makefile
Due: none

docs(contributing): add quick start shortcut and hot reload guide
  CONTRIBUTING.md
Due: none

docs(readme): add make doctor tip to prerequisites section
  README.md
Due: none

fix(handlers): sanitize error responses to prevent information leakage
  api/internal/handler/ab_testing.go
  api/internal/handler/agent_version.go
  api/internal/handler/annotation.go
  api/internal/handler/audit.go
  api/internal/handler/autonomy.go
  api/internal/handler/canary_deployment.go
  api/internal/handler/certification_export.go
  api/internal/handler/cost_optimizer.go
  api/internal/handler/edge_ingest.go
  api/internal/handler/embed.go
  api/internal/handler/eval_playground_handler.go
  api/internal/handler/gateway.go
  api/internal/handler/guardrails.go
  api/internal/handler/handoff.go
  api/internal/handler/intent.go
  api/internal/handler/marketplace.go
  api/internal/handler/orchestration_debugger.go
  api/internal/handler/plugin.go
  api/internal/handler/predictive_cost.go
  api/internal/handler/prompt_ci.go
  api/internal/handler/prompt_impact.go
  api/internal/handler/prompt_lab.go
  api/internal/handler/rca.go
  api/internal/handler/replay_session.go
  api/internal/handler/runbook_engine.go
  api/internal/handler/slo.go
  api/internal/handler/sso.go
  api/internal/handler/synthetic_data.go
  api/internal/handler/test_generator.go
  api/internal/handler/trace_diff_handler.go
  api/internal/handler/trace_review.go
  api/internal/handler/training_pipeline.go
  api/internal/handler/warehouse_sync.go
Due: golangci-lint-api

feat(auth): implement refresh token rotation on token refresh
  api/internal/service/auth_service.go
  api/internal/service/auth_service_test.go
Due: golangci-lint-api

feat(auth): add RequireOrgAccess middleware for organization RBAC
  api/cmd/server/deps.go
  api/internal/middleware/auth.go
  api/internal/middleware/auth_test.go
Due: golangci-lint-api
