Repository josedab/agenttrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-api, golangci-lint-sdk-go, golangci-lint-sdk-cli, ruff-check, ruff-format, mypy, eslint-web, eslint-sdk-ts, typecheck-web, typecheck-sdk-ts

.pre-commit-config.yaml:

# Pre-commit hooks for AgentTrace
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Go linting
  - repo: local
    hooks:
      - id: golangci-lint-api
        name: golangci-lint (api)
        entry: bash -c 'cd api && golangci-lint run --timeout=5m'
        language: system
        files: ^api/.*\.go$
        pass_filenames: false

      - id: golangci-lint-sdk-go
        name: golangci-lint (sdk/go)
        entry: bash -c 'cd sdk/go && golangci-lint run --timeout=5m'
        language: system
        files: ^sdk/go/.*\.go$
        pass_filenames: false

      - id: golangci-lint-sdk-cli
        name: golangci-lint (sdk/cli)
        entry: bash -c 'cd sdk/cli && golangci-lint run --timeout=5m'
        language: system
        files: ^sdk/cli/.*\.go$
        pass_filenames: false

  # Python linting
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check (sdk/python)
        entry: bash -c 'cd sdk/python && ruff check .'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format check (sdk/python)
        entry: bash -c 'cd sdk/python && ruff format --check .'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

      - id: mypy
        name: mypy (sdk/python)
        entry: bash -c 'cd sdk/python && mypy agenttrace'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint-web
        name: eslint (web)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: eslint-sdk-ts
        name: eslint (sdk/typescript)
        entry: bash -c 'cd sdk/typescript && npm run lint'
        language: system
        files: ^sdk/typescript/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck (web)
        entry: bash -c 'cd web && npm run type-check'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-sdk-ts
        name: typecheck (sdk/typescript)
        entry: bash -c 'cd sdk/typescript && npx tsc --noEmit'
        language: system
        files: ^sdk/typescript/.*\.ts$
        pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.snap)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

feat(api): enforce org-level access control on REST routes
  api/internal/handler/organizations.go
Due: golangci-lint-api

feat(graphql): enforce authorization checks in resolvers
  api/internal/graphql/resolver/resolvers.go
Due: golangci-lint-api

feat(graphql): add query depth limit extension
  api/internal/graphql/depth_limit.go
Due: golangci-lint-api

feat(api): add security headers, GraphQL depth limits, and introspection control
  api/cmd/server/main.go
Due: golangci-lint-api

feat(web): add security headers to Next.js configuration
  web/next.config.ts
Due: eslint-web, typecheck-web

feat(sso): implement JWKS signature verification and SSRF protection
  api/internal/service/sso_service.go
Due: golangci-lint-api

perf(grpc): set message size and concurrency limits on OTLP server
  api/internal/handler/otlp_grpc.go
Due: golangci-lint-api

fix(cli): validate Python package names in doctor command
  sdk/cli/cmd/doctor.go
Due: golangci-lint-sdk-cli

fix(ingestion): add context timeouts to background goroutines
  api/internal/service/ingestion_generation.go
  api/internal/service/ingestion_span.go
  api/internal/service/ingestion_trace.go
Due: golangci-lint-api

fix(auth): add structured logging and context timeouts to audit goroutines
  api/cmd/server/deps_services.go
  api/internal/service/auth_service.go
Due: golangci-lint-api

fix(sso): remove unverified token fallback and improve OIDC error handling
  api/internal/service/sso_service.go
Due: golangci-lint-api

fix(billing): validate required fields in Stripe webhook handlers
  api/internal/service/stripe_webhook_service.go
Due: golangci-lint-api

feat(graphql): enforce project access control on evaluator queries
  api/internal/graphql/resolver/resolvers.go
Due: golangci-lint-api

docs: add Code of Conduct and update community guidelines
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

chore(codeowners): add ownership for security-critical paths
  .github/CODEOWNERS
Due: none

fix(api): extract user ID from auth context in handlers
  api/internal/handler/eval_marketplace_handler.go
  api/internal/handler/trace_kb_handler.go
Due: golangci-lint-api

docs(api): add godoc comments to domain types
  api/internal/domain/autonomy.go
  api/internal/domain/cost_attribution.go
  api/internal/domain/cross_org_benchmark.go
  api/internal/domain/intent_verification.go
  api/internal/domain/knowledge_graph.go
  api/internal/domain/prompt_lab.go
  api/internal/domain/sandbox.go
  api/internal/domain/skill_profile.go
Due: golangci-lint-api

docs(sdk): add godoc comments to Go SDK helpers
  sdk/go/checkpoint.go
  sdk/go/git.go
Due: golangci-lint-sdk-go

docs(sdk): improve Python SDK docstrings and API reference
  sdk/python/README.md
  sdk/python/agenttrace/client.py
Due: ruff-check, ruff-format, mypy

docs(sdk): enhance TypeScript client JSDoc comments
  sdk/typescript/src/client.ts
Due: eslint-sdk-ts, typecheck-sdk-ts

docs(integrations): add advanced features to IDE plugin docs
  docs/docs/integrations/jetbrains.md
  docs/docs/integrations/vscode.md
Due: none

refactor(docs): split troubleshooting into per-topic pages
  docs/docs/troubleshooting-legacy.md
  docs/docs/troubleshooting/authentication.md
  docs/docs/troubleshooting/connection.md
  docs/docs/troubleshooting/data.md
  docs/docs/troubleshooting/deployment.md
  docs/docs/troubleshooting/index.md
  docs/docs/troubleshooting/integrations.md
  docs/docs/troubleshooting/performance.md
  docs/docs/troubleshooting/sdk.md
  docs/docs/troubleshooting/ui.md
  docs/sidebars.ts
Due: none

docs(changelog): add issue references to entries
  CHANGELOG.md
Due: none

feat(adapters): add OpenAI Agents SDK and MCP framework support
  api/internal/domain/adapter.go
  api/internal/service/adapter_service.go
  web/components/adapters/adapter-manager.tsx
Due: golangci-lint-api, eslint-web, typecheck-web

feat(search): add RAG search with hybrid search modes
  api/internal/domain/semantic_trace_search.go
  api/internal/service/semantic_trace_search_service.go
  web/hooks/use-semantic-trace-search.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(otel): add collector config generation and typed bridge hooks
  api/internal/service/otel_bridge_service.go
  web/hooks/use-otel-bridge.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(web): add cost attribution and prompt CI API endpoints
  web/lib/api.ts
Due: eslint-web, typecheck-web

feat(prompt-ci): add CI webhook endpoint and regression gate pipelines
  .github/workflows/ci.yml
  .github/workflows/prompt-regression-gate.yml
  api/internal/handler/prompt_ci.go
  ci/gitlab/prompt-regression-gate.yml
  examples/prompt-ci-config/.agenttrace/prompt-ci.json
  web/hooks/use-prompt-ci.ts
Due: golangci-lint-api, eslint-web, typecheck-web

feat(replay): enhance trace replay with live streaming and waterfall view
  web/components/traces/trace-replay-player.tsx
Due: eslint-web, typecheck-web

feat(ab-testing): extend with Bayesian statistics and multi-metric support
  web/hooks/use-ab-testing.ts
Due: eslint-web, typecheck-web

feat(benchmarks): add progress tracking, comparison, and reporting hooks
  web/hooks/use-agent-benchmarks.ts
Due: eslint-web, typecheck-web

feat(annotations): add annotation queues and review workflow
  web/hooks/use-annotations.ts
Due: eslint-web, typecheck-web

feat(cost): add cost attribution and routing recommendation hooks
  web/hooks/use-cost-autopilot.ts
Due: eslint-web, typecheck-web

feat(topology): enhance with real-time updates and bottleneck analysis
  web/hooks/use-topology.ts
Due: eslint-web, typecheck-web

fix(anomaly): replace stub user IDs with auth middleware
  api/internal/handler/anomaly.go
Due: golangci-lint-api

fix(audit): add safe type assertions for user context
  api/internal/handler/audit.go
Due: golangci-lint-api

fix(import): handle metadata JSON parse errors in CSV import
  api/internal/handler/import.go
Due: golangci-lint-api

fix(auth): log errors when deleting expired sessions
  api/internal/service/auth_service.go
Due: golangci-lint-api

fix(compliance): log errors when saving failed job status
  api/internal/service/compliance_export_service.go
Due: golangci-lint-api

refactor(ingestion): return errors on marshal failures instead of skipping
  api/internal/service/ingestion_batch.go
  api/internal/service/ingestion_batch_test.go
Due: golangci-lint-api
