Repository josedab/agenttrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-api, golangci-lint-sdk-go, golangci-lint-sdk-cli, ruff-check, ruff-format, mypy, eslint-web, eslint-sdk-ts, typecheck-web, typecheck-sdk-ts

.pre-commit-config.yaml:

# Pre-commit hooks for AgentTrace
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Go linting
  - repo: local
    hooks:
      - id: golangci-lint-api
        name: golangci-lint (api)
        entry: bash -c 'cd api && golangci-lint run --timeout=5m'
        language: system
        files: ^api/.*\.go$
        pass_filenames: false

      - id: golangci-lint-sdk-go
        name: golangci-lint (sdk/go)
        entry: bash -c 'cd sdk/go && golangci-lint run --timeout=5m'
        language: system
        files: ^sdk/go/.*\.go$
        pass_filenames: false

      - id: golangci-lint-sdk-cli
        name: golangci-lint (sdk/cli)
        entry: bash -c 'cd sdk/cli && golangci-lint run --timeout=5m'
        language: system
        files: ^sdk/cli/.*\.go$
        pass_filenames: false

  # Python linting
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check (sdk/python)
        entry: bash -c 'cd sdk/python && ruff check .'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format check (sdk/python)
        entry: bash -c 'cd sdk/python && ruff format --check .'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

      - id: mypy
        name: mypy (sdk/python)
        entry: bash -c 'cd sdk/python && mypy agenttrace'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint-web
        name: eslint (web)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: eslint-sdk-ts
        name: eslint (sdk/typescript)
        entry: bash -c 'cd sdk/typescript && npm run lint'
        language: system
        files: ^sdk/typescript/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck (web)
        entry: bash -c 'cd web && npm run type-check'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-sdk-ts
        name: typecheck (sdk/typescript)
        entry: bash -c 'cd sdk/typescript && npx tsc --noEmit'
        language: system
        files: ^sdk/typescript/.*\.ts$
        pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.snap)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

feat(web): add anomaly detection and cost optimizer dashboards
  web/app/(dashboard)/anomaly/page.tsx
  web/app/(dashboard)/cost-optimizer/page.tsx
  web/components/anomaly/health-score-gauge.tsx
  web/components/cost-optimizer/cost-forecast-card.tsx
  web/hooks/use-anomaly.ts
  web/hooks/use-cost-optimizer.ts
Due: eslint-web, typecheck-web

feat(web): add diff intelligence and streaming dashboards
  web/app/(dashboard)/diff-intelligence/page.tsx
  web/app/(dashboard)/streaming/page.tsx
  web/components/diff-intelligence/findings-list.tsx
  web/components/diff-intelligence/quality-score-card.tsx
  web/components/streaming/activity-feed.tsx
  web/components/streaming/live-metrics-panel.tsx
  web/hooks/use-diff-analysis.ts
  web/hooks/use-streaming.ts
Due: eslint-web, typecheck-web

feat(vscode): add inline trace, time travel, and quick view providers
  extensions/vscode/package.json
  extensions/vscode/src/extension.ts
  extensions/vscode/src/providers/inlineTraceProvider.ts
  extensions/vscode/src/providers/timeTravelProvider.ts
  extensions/vscode/src/providers/traceQuickViewProvider.ts
Due: none

chore(db): add migration for next-gen features v2
  api/migrations/postgres/000026_next_gen_features_v2.down.sql
  api/migrations/postgres/000026_next_gen_features_v2.up.sql
Due: none

feat(api): add domain models for governance and security
  api/internal/domain/compliance_report.go
  api/internal/domain/rbac.go
  api/internal/domain/sandbox.go
Due: golangci-lint-api

feat(api): add domain models for intelligence and analytics
  api/internal/domain/embeddings.go
  api/internal/domain/semantic_search.go
  api/internal/domain/skill_profile.go
  api/internal/domain/team_intelligence.go
Due: golangci-lint-api

feat(api): add domain models for platform services
  api/internal/domain/marketplace.go
  api/internal/domain/prompt_lab.go
  api/internal/domain/training_pipeline.go
  api/internal/domain/webhook_orchestration.go
Due: golangci-lint-api

feat(api): add governance services and tests
  api/internal/service/compliance_report_service.go
  api/internal/service/compliance_report_service_test.go
  api/internal/service/rbac_service.go
  api/internal/service/sandbox_service.go
  api/internal/service/sandbox_service_test.go
Due: golangci-lint-api

feat(api): add intelligence services, repository, and tests
  api/internal/repository/clickhouse/skill_profile_repository.go
  api/internal/service/embedding_service.go
  api/internal/service/semantic_search_service.go
  api/internal/service/skill_profile_service.go
  api/internal/service/skill_profile_service_test.go
  api/internal/service/team_intelligence_service.go
Due: golangci-lint-api

feat(api): add platform services, worker, and tests
  api/internal/service/marketplace_service.go
  api/internal/service/marketplace_service_test.go
  api/internal/service/prompt_lab_service.go
  api/internal/service/prompt_lab_service_test.go
  api/internal/service/training_pipeline_service.go
  api/internal/service/webhook_orchestration_service.go
  api/internal/service/webhook_orchestration_service_test.go
  api/internal/worker/webhook_delivery_worker.go
Due: golangci-lint-api

feat(api): add HTTP handlers for next-gen features
  api/internal/handler/compliance_report.go
  api/internal/handler/marketplace.go
  api/internal/handler/prompt_lab.go
  api/internal/handler/rbac.go
  api/internal/handler/sandbox.go
  api/internal/handler/semantic_search.go
  api/internal/handler/skill_profile.go
  api/internal/handler/team_intelligence.go
  api/internal/handler/training_pipeline.go
  api/internal/handler/webhook_orchestration.go
Due: golangci-lint-api

feat(api): wire next-gen handlers, services, and routes
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_repositories.go
  api/cmd/server/deps_services.go
  api/cmd/server/routes.go
Due: golangci-lint-api

feat(web): add API client methods for next-gen features
  web/lib/api.ts
Due: eslint-web, typecheck-web

feat(web): add hooks for next-gen feature dashboards
  web/hooks/use-compliance-reports.ts
  web/hooks/use-marketplace.ts
  web/hooks/use-prompt-lab.ts
  web/hooks/use-rbac.ts
  web/hooks/use-sandbox.ts
  web/hooks/use-semantic-search.ts
  web/hooks/use-skill-profiles.ts
  web/hooks/use-team-intelligence.ts
  web/hooks/use-training-pipeline.ts
  web/hooks/use-webhook-rules.ts
Due: eslint-web, typecheck-web

feat(web): add next-gen dashboard pages, components, and navigation
  web/app/(dashboard)/compliance-reports/page.tsx
  web/app/(dashboard)/marketplace/page.tsx
  web/app/(dashboard)/prompt-lab/page.tsx
  web/app/(dashboard)/rbac/page.tsx
  web/app/(dashboard)/sandbox/page.tsx
  web/app/(dashboard)/search/page.tsx
  web/app/(dashboard)/skill-profiles/page.tsx
  web/app/(dashboard)/team/page.tsx
  web/app/(dashboard)/training/page.tsx
  web/app/(dashboard)/webhook-rules/page.tsx
  web/components/layout/sidebar.tsx
  web/components/sandbox/review-card.tsx
  web/components/skill-profiles/skill-radar-chart.tsx
  web/tsconfig.tsbuildinfo
Due: eslint-web, typecheck-web

feat(api): add database migration for v3 feature tables
  api/migrations/postgres/000027_v3_features.down.sql
  api/migrations/postgres/000027_v3_features.up.sql
Due: none

feat(api): add domain models for v3 features
  api/internal/domain/agent_builder.go
  api/internal/domain/agent_version.go
  api/internal/domain/embed_config.go
  api/internal/domain/fleet.go
  api/internal/domain/mobile.go
  api/internal/domain/orchestration_debugger.go
  api/internal/domain/plugin.go
  api/internal/domain/predictive_cost.go
  api/internal/domain/privacy.go
  api/internal/domain/root_cause.go
Due: golangci-lint-api

feat(api): add LLM client and persistence repositories
  api/internal/repository/clickhouse/predictive_cost_repository.go
  api/internal/repository/postgres/agent_version_repository.go
  api/internal/repository/postgres/plugin_repository.go
  api/internal/repository/postgres/predictive_cost_repository.go
  api/internal/repository/postgres/privacy_repository.go
  api/internal/repository/postgres/rca_repository.go
  api/internal/service/llm_client.go
Due: golangci-lint-api

feat(api): add agent intelligence services and tests
  api/internal/service/agent_builder_service.go
  api/internal/service/agent_version_service.go
  api/internal/service/agent_version_service_test.go
  api/internal/service/orchestration_debugger_service.go
  api/internal/service/orchestration_debugger_service_test.go
  api/internal/service/rca_service.go
  api/internal/service/rca_service_test.go
Due: golangci-lint-api

feat(api): add platform and governance services and tests
  api/internal/service/embed_service.go
  api/internal/service/embed_service_test.go
  api/internal/service/fleet_service.go
  api/internal/service/mobile_service.go
  api/internal/service/plugin_service.go
  api/internal/service/plugin_service_test.go
  api/internal/service/predictive_cost_service.go
  api/internal/service/predictive_cost_service_test.go
  api/internal/service/privacy_service.go
Due: golangci-lint-api

feat(api): add HTTP handlers for v3 features
  api/internal/handler/agent_builder.go
  api/internal/handler/agent_version.go
  api/internal/handler/embed.go
  api/internal/handler/fleet.go
  api/internal/handler/mobile.go
  api/internal/handler/orchestration_debugger.go
  api/internal/handler/plugin.go
  api/internal/handler/predictive_cost.go
  api/internal/handler/privacy.go
  api/internal/handler/rca.go
Due: golangci-lint-api

feat(api): wire v3 handlers, repositories, services, and routes
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_repositories.go
  api/cmd/server/deps_services.go
  api/cmd/server/routes.go
Due: golangci-lint-api

feat(web): add API client methods for v3 features
  web/lib/api.ts
Due: eslint-web, typecheck-web

feat(web): add React Query hooks for v3 feature dashboards
  web/hooks/use-agent-builder.ts
  web/hooks/use-agent-versions.ts
  web/hooks/use-embed.ts
  web/hooks/use-fleet.ts
  web/hooks/use-mobile-config.ts
  web/hooks/use-orchestration.ts
  web/hooks/use-plugins.ts
  web/hooks/use-predictions.ts
  web/hooks/use-privacy.ts
  web/hooks/use-rca.ts
Due: eslint-web, typecheck-web

feat(web): add v3 dashboard pages and sidebar navigation
  web/app/(dashboard)/agent-builder/page.tsx
  web/app/(dashboard)/agent-versions/page.tsx
  web/app/(dashboard)/embed/page.tsx
  web/app/(dashboard)/fleet/page.tsx
  web/app/(dashboard)/mobile-config/page.tsx
  web/app/(dashboard)/orchestration/page.tsx
  web/app/(dashboard)/plugins/page.tsx
  web/app/(dashboard)/predictions/page.tsx
  web/app/(dashboard)/privacy/page.tsx
  web/app/(dashboard)/rca/page.tsx
  web/components/layout/sidebar.tsx
Due: eslint-web, typecheck-web

feat(mobile): add React Native companion app
  mobile/App.tsx
  mobile/lib/api.ts
  mobile/package.json
  mobile/screens/AlertsScreen.tsx
  mobile/screens/DashboardScreen.tsx
  mobile/screens/ReviewsScreen.tsx
  mobile/screens/SettingsScreen.tsx
  mobile/tsconfig.json
Due: none

feat(db): add v4 feature database migrations
  api/migrations/postgres/000028_v4_features.down.sql
  api/migrations/postgres/000028_v4_features.up.sql
Due: none

feat(api): add domain models for v4 features
  api/internal/domain/agent_memory.go
  api/internal/domain/annotation.go
  api/internal/domain/carbon.go
  api/internal/domain/chaos.go
  api/internal/domain/custom_metrics.go
  api/internal/domain/distributed_trace.go
  api/internal/domain/handoff.go
  api/internal/domain/prompt_cache.go
  api/internal/domain/slo.go
  api/internal/domain/synthetic_data.go
Due: golangci-lint-api

feat(api): add v4 feature services
  api/internal/service/agent_memory_service.go
  api/internal/service/annotation_service.go
  api/internal/service/carbon_service.go
  api/internal/service/chaos_service.go
  api/internal/service/custom_metrics_service.go
  api/internal/service/distributed_trace_service.go
  api/internal/service/handoff_service.go
  api/internal/service/prompt_cache_service.go
  api/internal/service/slo_service.go
  api/internal/service/synthetic_data_service.go
Due: golangci-lint-api

feat(api): add v4 HTTP handlers
  api/internal/handler/agent_memory.go
  api/internal/handler/annotation.go
  api/internal/handler/carbon.go
  api/internal/handler/chaos.go
  api/internal/handler/custom_metrics.go
  api/internal/handler/distributed_trace.go
  api/internal/handler/handoff.go
  api/internal/handler/prompt_cache.go
  api/internal/handler/slo.go
  api/internal/handler/synthetic_data.go
Due: golangci-lint-api

feat(db): add v5 feature database migrations
  api/migrations/postgres/000029_v5_features.down.sql
  api/migrations/postgres/000029_v5_features.up.sql
Due: none

feat(api): add domain models for v5 features
  api/internal/domain/autonomy.go
  api/internal/domain/collab_pattern.go
  api/internal/domain/compliance_monitor.go
  api/internal/domain/cost_attribution.go
  api/internal/domain/cross_org_benchmark.go
  api/internal/domain/federated_learning.go
  api/internal/domain/intent_verification.go
  api/internal/domain/knowledge_graph.go
  api/internal/domain/multimodal.go
  api/internal/domain/observability_copilot.go
Due: golangci-lint-api

feat(api): add v5 feature services
  api/internal/service/autonomy_service.go
  api/internal/service/collab_pattern_service.go
  api/internal/service/compliance_monitor_service.go
  api/internal/service/copilot_service.go
  api/internal/service/cost_attribution_service.go
  api/internal/service/cross_org_service.go
  api/internal/service/federated_learning_service.go
  api/internal/service/intent_service.go
  api/internal/service/knowledge_graph_service.go
  api/internal/service/multimodal_service.go
Due: golangci-lint-api

feat(api): add v5 HTTP handlers
  api/internal/handler/autonomy.go
  api/internal/handler/collab_pattern.go
  api/internal/handler/compliance_monitor.go
  api/internal/handler/copilot.go
  api/internal/handler/cost_attribution.go
  api/internal/handler/cross_org.go
  api/internal/handler/federated_learning.go
  api/internal/handler/intent.go
  api/internal/handler/knowledge_graph.go
  api/internal/handler/multimodal.go
Due: golangci-lint-api

feat(api): wire v4/v5 handlers, services, and routes
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_services.go
  api/cmd/server/routes.go
Due: golangci-lint-api

feat(web): add API client methods for v4/v5 features
  web/lib/api.ts
Due: eslint-web, typecheck-web

feat(web): add React Query hooks for v4/v5 feature dashboards
  web/hooks/use-agent-memory.ts
  web/hooks/use-annotations.ts
  web/hooks/use-autonomy.ts
  web/hooks/use-carbon.ts
  web/hooks/use-chaos.ts
  web/hooks/use-collab-patterns.ts
  web/hooks/use-compliance-monitor.ts
  web/hooks/use-copilot.ts
  web/hooks/use-cost-attribution.ts
  web/hooks/use-cross-org.ts
  web/hooks/use-custom-metrics.ts
  web/hooks/use-distributed-traces.ts
  web/hooks/use-federated-learning.ts
  web/hooks/use-handoffs.ts
  web/hooks/use-intents.ts
  web/hooks/use-knowledge-graph.ts
  web/hooks/use-multimodal.ts
  web/hooks/use-prompt-cache.ts
  web/hooks/use-slos.ts
  web/hooks/use-synthetic-data.ts
Due: eslint-web, typecheck-web

feat(web): add v4/v5 dashboard pages and sidebar navigation
  web/app/(dashboard)/annotations/page.tsx
  web/app/(dashboard)/autonomy/page.tsx
  web/app/(dashboard)/carbon/page.tsx
  web/app/(dashboard)/chaos/page.tsx
  web/app/(dashboard)/collab-patterns/page.tsx
  web/app/(dashboard)/compliance-monitor/page.tsx
  web/app/(dashboard)/copilot/page.tsx
  web/app/(dashboard)/cost-attribution/page.tsx
  web/app/(dashboard)/cross-org/page.tsx
  web/app/(dashboard)/custom-metrics/page.tsx
  web/app/(dashboard)/distributed-traces/page.tsx
  web/app/(dashboard)/federated/page.tsx
  web/app/(dashboard)/handoffs/page.tsx
  web/app/(dashboard)/intents/page.tsx
  web/app/(dashboard)/knowledge-graph/page.tsx
  web/app/(dashboard)/memory/page.tsx
  web/app/(dashboard)/multimodal/page.tsx
  web/app/(dashboard)/prompt-cache/page.tsx
  web/app/(dashboard)/slos/page.tsx
  web/app/(dashboard)/synthetic-data/page.tsx
  web/components/layout/sidebar.tsx
  web/tsconfig.tsbuildinfo
Due: eslint-web, typecheck-web

feat(db): add v6 nextgen feature database migrations
  api/migrations/postgres/000030_v6_nextgen_features.down.sql
  api/migrations/postgres/000030_v6_nextgen_features.up.sql
Due: none

feat(api): add domain models for v6 features
  api/internal/domain/agent_benchmark.go
  api/internal/domain/agent_knowledge_graph.go
  api/internal/domain/cost_guardrail.go
  api/internal/domain/federated_aggregation.go
  api/internal/domain/ide_trace_view.go
  api/internal/domain/multi_agent_graph.go
  api/internal/domain/prompt_ci.go
  api/internal/domain/replay_session.go
  api/internal/domain/semantic_trace_search.go
Due: golangci-lint-api
