Repository josedab/agenttrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-api, golangci-lint-sdk-go, golangci-lint-sdk-cli, ruff-check, ruff-format, mypy, eslint-web, eslint-sdk-ts, typecheck-web, typecheck-sdk-ts

.pre-commit-config.yaml:

# Pre-commit hooks for AgentTrace
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Go linting
  - repo: local
    hooks:
      - id: golangci-lint-api
        name: golangci-lint (api)
        entry: bash -c 'cd api && golangci-lint run --timeout=5m'
        language: system
        files: ^api/.*\.go$
        pass_filenames: false

      - id: golangci-lint-sdk-go
        name: golangci-lint (sdk/go)
        entry: bash -c 'cd sdk/go && golangci-lint run --timeout=5m'
        language: system
        files: ^sdk/go/.*\.go$
        pass_filenames: false

      - id: golangci-lint-sdk-cli
        name: golangci-lint (sdk/cli)
        entry: bash -c 'cd sdk/cli && golangci-lint run --timeout=5m'
        language: system
        files: ^sdk/cli/.*\.go$
        pass_filenames: false

  # Python linting
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check (sdk/python)
        entry: bash -c 'cd sdk/python && ruff check .'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format check (sdk/python)
        entry: bash -c 'cd sdk/python && ruff format --check .'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

      - id: mypy
        name: mypy (sdk/python)
        entry: bash -c 'cd sdk/python && mypy agenttrace'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint-web
        name: eslint (web)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: eslint-sdk-ts
        name: eslint (sdk/typescript)
        entry: bash -c 'cd sdk/typescript && npm run lint'
        language: system
        files: ^sdk/typescript/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck (web)
        entry: bash -c 'cd web && npm run type-check'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-sdk-ts
        name: typecheck (sdk/typescript)
        entry: bash -c 'cd sdk/typescript && npx tsc --noEmit'
        language: system
        files: ^sdk/typescript/.*\.ts$
        pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.snap)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

ci: add GitHub workflows and issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/changelog-config.json
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

feat(api): add Go module and build configuration
  api/.env.example
  api/.golangci.yml
  api/Dockerfile
  api/Makefile
  api/go.mod
  api/go.sum
  api/gqlgen.yml
Due: none

feat(api): add domain models
  api/internal/domain/anomaly.go
  api/internal/domain/apikey.go
  api/internal/domain/audit.go
  api/internal/domain/checkpoint.go
  api/internal/domain/cirun.go
  api/internal/domain/dataset.go
  api/internal/domain/enums.go
  api/internal/domain/evaluator.go
  api/internal/domain/experiment.go
  api/internal/domain/fileoperation.go
  api/internal/domain/github_app.go
  api/internal/domain/gitlink.go
  api/internal/domain/notification.go
  api/internal/domain/observation.go
  api/internal/domain/organization.go
  api/internal/domain/otel.go
  api/internal/domain/project.go
  api/internal/domain/prompt.go
  api/internal/domain/prompt_library.go
  api/internal/domain/replay.go
  api/internal/domain/score.go
  api/internal/domain/sso.go
  api/internal/domain/terminalcommand.go
  api/internal/domain/trace.go
  api/internal/domain/user.go
Due: golangci-lint-api

feat(api): add configuration and core packages
  api/internal/config/config.go
  api/internal/config/loader.go
  api/internal/pkg/database/clickhouse.go
  api/internal/pkg/database/postgres.go
  api/internal/pkg/database/redis.go
  api/internal/pkg/errors/errors.go
  api/internal/pkg/id/generator.go
  api/internal/pkg/logger/logger.go
  api/internal/pkg/pagination/cursor.go
Due: golangci-lint-api

feat(api): add repository layer
  api/internal/repository/clickhouse/checkpoint_repository.go
  api/internal/repository/clickhouse/cirun_repository.go
  api/internal/repository/clickhouse/fileoperation_repository.go
  api/internal/repository/clickhouse/gitlink_repository.go
  api/internal/repository/clickhouse/observation_repository.go
  api/internal/repository/clickhouse/score_repository.go
  api/internal/repository/clickhouse/session_repository.go
  api/internal/repository/clickhouse/terminalcommand_repository.go
  api/internal/repository/clickhouse/trace_repository.go
  api/internal/repository/postgres/apikey_repository.go
  api/internal/repository/postgres/audit_repository.go
  api/internal/repository/postgres/dataset_repository.go
  api/internal/repository/postgres/evaluator_repository.go
  api/internal/repository/postgres/github_app_repository.go
  api/internal/repository/postgres/org_repository.go
  api/internal/repository/postgres/project_repository.go
  api/internal/repository/postgres/prompt_repository.go
  api/internal/repository/postgres/sso_repository.go
  api/internal/repository/postgres/user_repository.go
Due: golangci-lint-api

feat(api): add service layer
  api/internal/service/anomaly_service.go
  api/internal/service/audit_service.go
  api/internal/service/audit_service_test.go
  api/internal/service/auth_service.go
  api/internal/service/auth_service_test.go
  api/internal/service/checkpoint_service.go
  api/internal/service/checkpoint_service_test.go
  api/internal/service/cirun_service.go
  api/internal/service/cirun_service_test.go
  api/internal/service/cost_service.go
  api/internal/service/cost_service_test.go
  api/internal/service/dataset_service.go
  api/internal/service/eval_service.go
  api/internal/service/experiment_service.go
  api/internal/service/fileoperation_service.go
  api/internal/service/fileoperation_service_test.go
  api/internal/service/github_app_service.go
  api/internal/service/gitlink_service.go
  api/internal/service/gitlink_service_test.go
  api/internal/service/ingestion_service.go
  api/internal/service/ingestion_service_test.go
  api/internal/service/nlquery.go
  api/internal/service/notification_service.go
  api/internal/service/org_service.go
  api/internal/service/otel_exporter_service.go
  api/internal/service/project_service.go
  api/internal/service/prompt_library_service.go
  api/internal/service/prompt_service.go
  api/internal/service/query_service.go
  api/internal/service/realtime_service.go
  api/internal/service/replay_service.go
  api/internal/service/score_service.go
  api/internal/service/sso_service.go
  api/internal/service/sso_service_test.go
  api/internal/service/terminalcommand_service.go
  api/internal/service/terminalcommand_service_test.go
Due: golangci-lint-api

feat(api): add HTTP handlers
  api/internal/handler/anomaly.go
  api/internal/handler/apikeys.go
  api/internal/handler/audit.go
  api/internal/handler/auth.go
  api/internal/handler/checkpoints.go
  api/internal/handler/ciruns.go
  api/internal/handler/datasets.go
  api/internal/handler/docs.go
  api/internal/handler/evaluators.go
  api/internal/handler/events.go
  api/internal/handler/experiments.go
  api/internal/handler/export.go
  api/internal/handler/fileoperations.go
  api/internal/handler/github_webhook.go
  api/internal/handler/gitlinks.go
  api/internal/handler/health.go
  api/internal/handler/import.go
  api/internal/handler/import_test.go
  api/internal/handler/ingestion.go
  api/internal/handler/ingestion_test.go
  api/internal/handler/nlquery.go
  api/internal/handler/organizations.go
  api/internal/handler/otel.go
  api/internal/handler/projects.go
  api/internal/handler/prompt_library.go
  api/internal/handler/prompts.go
  api/internal/handler/prompts_test.go
  api/internal/handler/replay.go
  api/internal/handler/scores.go
  api/internal/handler/scores_test.go
  api/internal/handler/sso.go
  api/internal/handler/terminalcommands.go
  api/internal/handler/traces.go
  api/internal/handler/traces_test.go
  api/internal/handler/webhooks.go
Due: golangci-lint-api

feat(api): add middleware layer
  api/internal/middleware/auth.go
  api/internal/middleware/cors.go
  api/internal/middleware/logger.go
  api/internal/middleware/metrics.go
  api/internal/middleware/ratelimit.go
  api/internal/middleware/recover.go
  api/internal/middleware/request_id.go
Due: golangci-lint-api

feat(api): add GraphQL schema and resolvers
  api/internal/graphql/dataloader/dataloader.go
  api/internal/graphql/generated/generated.go
  api/internal/graphql/model/models.go
  api/internal/graphql/model/scalars.go
  api/internal/graphql/resolver/mutation.resolvers.go
  api/internal/graphql/resolver/query.resolvers.go
  api/internal/graphql/resolver/resolver.go
  api/internal/graphql/resolver/subscription.resolvers.go
  api/schema/dataset.graphql
  api/schema/evaluator.graphql
  api/schema/organization.graphql
  api/schema/prompt.graphql
  api/schema/schema.graphql
Due: golangci-lint-api

feat(api): add background workers
  api/internal/worker/anomaly_worker.go
  api/internal/worker/cleanup_worker.go
  api/internal/worker/cost_worker.go
  api/internal/worker/eval_worker.go
  api/internal/worker/export_worker.go
  api/internal/worker/notification_worker.go
  api/internal/worker/otel_worker.go
  api/internal/worker/server.go
Due: golangci-lint-api

feat(web): add frontend configuration and base setup
  web/Dockerfile
  web/app/globals.css
  web/app/layout.tsx
  web/middleware.ts
  web/next.config.ts
  web/package.json
  web/postcss.config.js
  web/tailwind.config.ts
  web/tsconfig.json
Due: eslint-web, typecheck-web

feat(web): add UI components and providers
  web/components/layout/breadcrumb.tsx
  web/components/layout/header.tsx
  web/components/layout/page-header.tsx
  web/components/layout/sidebar.tsx
  web/components/providers/auth-provider.tsx
  web/components/providers/query-provider.tsx
  web/components/providers/theme-provider.tsx
  web/components/ui/alert-dialog.tsx
  web/components/ui/alert.tsx
  web/components/ui/avatar.tsx
  web/components/ui/badge.tsx
  web/components/ui/button.tsx
  web/components/ui/calendar.tsx
  web/components/ui/card.tsx
  web/components/ui/checkbox.tsx
  web/components/ui/collapsible.tsx
  web/components/ui/dialog.tsx
  web/components/ui/dropdown-menu.tsx
  web/components/ui/form.tsx
  web/components/ui/input.tsx
  web/components/ui/label.tsx
  web/components/ui/popover.tsx
  web/components/ui/progress.tsx
  web/components/ui/scroll-area.tsx
  web/components/ui/select.tsx
  web/components/ui/separator.tsx
  web/components/ui/skeleton.tsx
  web/components/ui/sonner.tsx
  web/components/ui/switch.tsx
  web/components/ui/table.tsx
  web/components/ui/tabs.tsx
  web/components/ui/textarea.tsx
  web/components/ui/tooltip.tsx
Due: eslint-web, typecheck-web

feat(web): add hooks and utilities
  web/app/api/health/route.ts
  web/hooks/use-audit-logs.ts
  web/hooks/use-checkpoints.ts
  web/hooks/use-datasets.ts
  web/hooks/use-evaluators.ts
  web/hooks/use-metrics.ts
  web/hooks/use-prompts.ts
  web/hooks/use-realtime.ts
  web/hooks/use-scores.ts
  web/hooks/use-sso.ts
  web/hooks/use-trace.ts
  web/hooks/use-traces.ts
  web/lib/api.ts
  web/lib/auth.ts
  web/lib/utils.ts
Due: eslint-web, typecheck-web

feat(sdk): add Python SDK
  sdk/python/agenttrace/__init__.py
  sdk/python/agenttrace/checkpoint.py
  sdk/python/agenttrace/client.py
  sdk/python/agenttrace/context.py
  sdk/python/agenttrace/decorators.py
  sdk/python/agenttrace/fileops.py
  sdk/python/agenttrace/generation.py
  sdk/python/agenttrace/git.py
  sdk/python/agenttrace/integrations/__init__.py
  sdk/python/agenttrace/integrations/anthropic.py
  sdk/python/agenttrace/integrations/langchain.py
  sdk/python/agenttrace/integrations/llamaindex.py
  sdk/python/agenttrace/integrations/openai.py
  sdk/python/agenttrace/prompt.py
  sdk/python/agenttrace/terminal.py
  sdk/python/agenttrace/transport/__init__.py
  sdk/python/agenttrace/transport/batch.py
  sdk/python/agenttrace/transport/http.py
  sdk/python/pyproject.toml
  sdk/python/tests/__init__.py
  sdk/python/tests/test_checkpoint.py
  sdk/python/tests/test_client.py
  sdk/python/tests/test_fileops.py
  sdk/python/tests/test_git.py
  sdk/python/tests/test_terminal.py
Due: ruff-check, ruff-format, mypy

feat(sdk): add TypeScript SDK
  sdk/typescript/browser/src/index.ts
  sdk/typescript/package.json
  sdk/typescript/src/checkpoint.ts
  sdk/typescript/src/client.ts
  sdk/typescript/src/context.ts
  sdk/typescript/src/fileops.ts
  sdk/typescript/src/generation.ts
  sdk/typescript/src/git.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/observe.ts
  sdk/typescript/src/prompt.ts
  sdk/typescript/src/terminal.ts
  sdk/typescript/src/transport/batch.ts
  sdk/typescript/src/transport/http.ts
  sdk/typescript/tests/checkpoint.test.ts
  sdk/typescript/tests/client.test.ts
  sdk/typescript/tests/fileops.test.ts
  sdk/typescript/tests/observe.test.ts
  sdk/typescript/tests/prompt.test.ts
  sdk/typescript/tests/terminal.test.ts
  sdk/typescript/tsconfig.json
  sdk/typescript/tsup.config.ts
  sdk/typescript/vitest.config.ts
Due: eslint-sdk-ts, typecheck-sdk-ts

feat(sdk): add Go SDK and CLI
  sdk/cli/cmd/mcp.go
  sdk/cli/cmd/root.go
  sdk/cli/cmd/wrap.go
  sdk/cli/go.mod
  sdk/cli/go.sum
  sdk/cli/internal/wrapper/checkpoint.go
  sdk/cli/internal/wrapper/fileops.go
  sdk/cli/internal/wrapper/git.go
  sdk/cli/internal/wrapper/terminal.go
  sdk/cli/internal/wrapper/wrapper.go
  sdk/cli/main.go
  sdk/go/agenttrace.go
  sdk/go/agenttrace_test.go
  sdk/go/checkpoint.go
  sdk/go/checkpoint_test.go
  sdk/go/context.go
  sdk/go/fileops.go
  sdk/go/fileops_test.go
  sdk/go/git.go
  sdk/go/git_test.go
  sdk/go/go.mod
  sdk/go/go.sum
  sdk/go/middleware/http.go
  sdk/go/observation.go
  sdk/go/prompt.go
  sdk/go/prompt_test.go
  sdk/go/terminal.go
  sdk/go/terminal_test.go
  sdk/go/trace.go
Due: golangci-lint-sdk-go, golangci-lint-sdk-cli

chore: add deployment configs and CI
  actions/setup-agenttrace/README.md
  actions/setup-agenttrace/action.yml
  ci/gitlab/README.md
  ci/gitlab/agenttrace.yml
  deploy/.env.example
  deploy/clickhouse/users.xml
  deploy/docker-compose.dev.yml
  deploy/docker-compose.yml
Due: none

fix(graphql): replace panic with graceful null return in JSON scalars
  api/internal/graphql/model/scalars.go
Due: golangci-lint-api

fix(imports): fix incorrect module paths in audit, SSO, and repository files
  api/internal/handler/audit.go
  api/internal/handler/sso.go
  api/internal/repository/postgres/audit_repository.go
  api/internal/repository/postgres/sso_repository.go
  api/internal/service/audit_service.go
  api/internal/service/audit_service_test.go
  api/internal/service/sso_service.go
  api/internal/service/sso_service_test.go
Due: golangci-lint-api

fix(domain): rename PromptVersion to LibraryPromptVersion to avoid collision
  api/internal/domain/prompt_library.go
Due: golangci-lint-api

fix(repository): replace NewNotFoundError with NotFound in github_app_repository
  api/internal/repository/postgres/github_app_repository.go
Due: golangci-lint-api

refactor(service): add structured logging to CostService
  api/cmd/server/deps.go
  api/cmd/worker/main.go
  api/go.mod
  api/go.sum
  api/internal/service/cost_service.go
  api/internal/service/cost_service_test.go
  api/internal/service/ingestion_service_test.go
Due: golangci-lint-api

feat(handler): add common utilities and test infrastructure
  api/internal/handler/apikeys_test.go
  api/internal/handler/auth_test.go
  api/internal/handler/helpers.go
  api/internal/handler/projects_test.go
  api/internal/testutil/fixtures.go
  api/internal/testutil/mocks.go
Due: golangci-lint-api

docs(service): add comprehensive docstrings to ingestion_service
  api/internal/service/ingestion_service.go
Due: golangci-lint-api

fix(middleware): disable credentials with wildcard CORS origins
  api/internal/middleware/cors.go
Due: golangci-lint-api

fix(ci): remove security scan bypasses in security workflow
  .github/workflows/security.yml
Due: none

fix(id): add safe UUID parsing alternatives to MustParseUUID
  api/internal/pkg/id/generator.go
Due: golangci-lint-api

fix(service): add structured logging to ingestion service goroutines
  api/cmd/server/deps.go
  api/internal/service/ingestion_service.go
  api/internal/service/ingestion_service_test.go
Due: golangci-lint-api

fix(dataloader): return errors instead of silently dropping them
  api/internal/graphql/dataloader/dataloader.go
Due: golangci-lint-api

feat(repository): add cleanup and delete methods to ClickHouse repositories
  api/internal/repository/clickhouse/observation_repository.go
  api/internal/repository/clickhouse/score_repository.go
  api/internal/repository/clickhouse/trace_repository.go
Due: golangci-lint-api

feat(worker): implement cleanup worker with repository integration
  api/cmd/worker/main.go
  api/internal/worker/cleanup_worker.go
  api/internal/worker/server.go
Due: golangci-lint-api

feat(worker): implement LLM evaluation with OpenAI API support
  api/internal/worker/eval_worker.go
Due: golangci-lint-api

feat(worker): implement score export functionality
  api/internal/worker/export_worker.go
Due: golangci-lint-api

feat(graphql): implement DeleteTrace mutation
  api/internal/graphql/resolver/mutation.resolvers.go
  api/internal/service/query_service.go
Due: golangci-lint-api

test(repository): add integration tests for ClickHouse repositories
  api/internal/repository/clickhouse/observation_repository_test.go
  api/internal/repository/clickhouse/score_repository_test.go
  api/internal/repository/clickhouse/trace_repository_test.go
Due: golangci-lint-api
