Repository josedab/agenttrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-api, golangci-lint-sdk-go, golangci-lint-sdk-cli, ruff-check, ruff-format, mypy, eslint-web, eslint-sdk-ts, typecheck-web, typecheck-sdk-ts

golangci-lint-api:
  name: golangci-lint (api)
  entry: bash -c 'cd api && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

golangci-lint-sdk-go:
  name: golangci-lint (sdk/go)
  entry: bash -c 'cd sdk/go && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

golangci-lint-sdk-cli:
  name: golangci-lint (sdk/cli)
  entry: bash -c 'cd sdk/cli && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

ruff-check:
  name: ruff check (sdk/python)
  entry: bash -c 'cd sdk/python && ruff check .'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format check (sdk/python)
  entry: bash -c 'cd sdk/python && ruff format --check .'
  language: system
  pass_filenames: false

mypy:
  name: mypy (sdk/python)
  entry: bash -c 'cd sdk/python && mypy agenttrace'
  language: system
  pass_filenames: false

eslint-web:
  name: eslint (web)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

eslint-sdk-ts:
  name: eslint (sdk/typescript)
  entry: bash -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck (web)
  entry: bash -c 'cd web && npm run type-check'
  language: system
  pass_filenames: false

typecheck-sdk-ts:
  name: typecheck (sdk/typescript)
  entry: bash -c 'cd sdk/typescript && npx tsc --noEmit'
  language: system
  pass_filenames: false

chore(deps): update go.mod dependencies
  api/go.mod
  api/go.sum
Due: none

chore(repo): add root-level project config files
  .editorconfig
  .github/CODEOWNERS
  .github/FUNDING.yml
  .gitignore
  .nvmrc
  .python-version
Due: none

chore(repo): add top-level Makefile for monorepo commands
  Makefile
Due: none

chore(vscode): enhance editor settings for multi-language support
  .vscode/settings.json
Due: none

fix(api): replace broken int-to-string conversions with strconv
  api/internal/config/config.go
  api/internal/handler/replay.go
  api/internal/middleware/cors.go
Due: golangci-lint-api

fix(api): handle logger initialization errors in server and worker
  api/cmd/server/main.go
Due: golangci-lint-api

fix(api): add context timeout and nil-safe MinIO initialization
  api/cmd/server/deps_databases.go
  api/cmd/worker/main.go
Due: golangci-lint-api

test(api): add OTel export worker unit tests
  api/internal/worker/otel_worker_test.go
Due: golangci-lint-api

chore(api): update Dockerfile to Go 1.24 and fix linter config
  api/.dockerignore
  api/.golangci.yml
  api/Dockerfile
Due: none

docs(api): add SQL safety comments to repository query builders
  api/internal/repository/clickhouse/fileoperation_repository.go
  api/internal/repository/clickhouse/observation_repository.go
  api/internal/repository/clickhouse/score_repository.go
  api/internal/repository/clickhouse/session_repository.go
  api/internal/repository/clickhouse/trace_repository.go
  api/internal/repository/postgres/experiment_repository.go
  api/internal/worker/export_worker.go
Due: golangci-lint-api

chore(deps): bump Go to 1.24 across modules and devcontainer
  .devcontainer/devcontainer.json
  sdk/cli/go.mod
  sdk/go/go.mod
Due: none

chore(ci): add Go version matrix and update cache actions
  .github/workflows/ci.yml
Due: none

chore(ci): add SBOM generation to release workflow
  .github/workflows/release.yml
Due: none

chore(ci): update security scan and add dependabot groups
  .github/dependabot.yml
  .github/workflows/security.yml
Due: none

chore(pre-commit): add prettier check for web directory
  .pre-commit-config.yaml
Due: none

fix(web): replace any types with proper TypeScript interfaces
  web/app/(dashboard)/analytics/cost/page.tsx
  web/app/(dashboard)/analytics/latency/page.tsx
  web/app/(dashboard)/analytics/usage/page.tsx
  web/components/analytics/model-distribution-chart.tsx
  web/components/datasets/add-item-dialog.tsx
  web/components/datasets/dataset-item-table.tsx
  web/components/datasets/dataset-run-results.tsx
  web/components/datasets/import-items-dialog.tsx
  web/components/datasets/run-experiment-dialog.tsx
  web/components/evals/annotation-interface.tsx
  web/components/evals/evaluator-detail.tsx
  web/components/traces/trace-replay-player.tsx
  web/hooks/use-datasets.ts
  web/hooks/use-evaluators.ts
  web/hooks/use-realtime.ts
Due: eslint-web, typecheck-web

feat(web): add aria-labels for accessibility compliance
  web/components/checkpoints/checkpoint-detail.tsx
  web/components/checkpoints/checkpoint-list.tsx
  web/components/evals/evaluator-list.tsx
  web/components/layout/header.tsx
  web/components/settings/api-key-list.tsx
  web/components/settings/create-api-key-dialog.tsx
  web/components/settings/team-member-list.tsx
  web/components/sso/sso-configuration-list.tsx
  web/components/traces/natural-query.tsx
Due: eslint-web, typecheck-web

feat(web): add testing infrastructure with vitest and playwright
  web/e2e/smoke.test.ts
  web/lib/__tests__/utils.test.ts
  web/next-env.d.ts
  web/package.json
  web/playwright.config.ts
  web/tsconfig.tsbuildinfo
  web/vitest.config.ts
Due: eslint-web, typecheck-web

feat(web): add error boundaries, loading states, and SEO
  web/.dockerignore
  web/.env.example
  web/.eslintignore
  web/.prettierignore
  web/.prettierrc
  web/app/(dashboard)/error.tsx
  web/app/error.tsx
  web/app/loading.tsx
  web/app/not-found.tsx
  web/app/sitemap.ts
Due: eslint-web, typecheck-web

chore(sdk): expand Python linter rules and add SDK documentation
  extensions/jetbrains/README.md
  sdk/cli/.golangci.yml
  sdk/cli/README.md
  sdk/go/.golangci.yml
  sdk/go/README.md
  sdk/python/.gitignore
  sdk/python/README.md
  sdk/python/agenttrace/py.typed
  sdk/python/pyproject.toml
  sdk/typescript/.eslintrc.json
  sdk/typescript/.gitignore
  sdk/typescript/.prettierrc
Due: none

docs(contributing): simplify branching strategy and update prereqs
  CONTRIBUTING.md
Due: none

Path conditions:
  golangci-lint-api: any of: ^api/.*\.go$
  golangci-lint-sdk-go: any of: ^sdk/go/.*\.go$
  golangci-lint-sdk-cli: any of: ^sdk/cli/.*\.go$
  ruff-check: any of: ^sdk/python/.*\.py$
  ruff-format: any of: ^sdk/python/.*\.py$
  mypy: any of: ^sdk/python/.*\.py$
  eslint-web: any of: ^web/.*\.(ts|tsx|js|jsx)$
  eslint-sdk-ts: any of: ^sdk/typescript/.*\.(ts|tsx|js|jsx)$
  typecheck-web: any of: ^web/.*\.(ts|tsx)$
  typecheck-sdk-ts: any of: ^sdk/typescript/.*\.ts$
