Repository josedab/agenttrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-api, golangci-lint-sdk-go, golangci-lint-sdk-cli, ruff-check, ruff-format, mypy, eslint-web, eslint-sdk-ts, typecheck-web, typecheck-sdk-ts

.pre-commit-config.yaml:

# Pre-commit hooks for AgentTrace
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Go linting
  - repo: local
    hooks:
      - id: golangci-lint-api
        name: golangci-lint (api)
        entry: bash -c 'cd api && golangci-lint run --timeout=5m'
        language: system
        files: ^api/.*\.go$
        pass_filenames: false

      - id: golangci-lint-sdk-go
        name: golangci-lint (sdk/go)
        entry: bash -c 'cd sdk/go && golangci-lint run --timeout=5m'
        language: system
        files: ^sdk/go/.*\.go$
        pass_filenames: false

      - id: golangci-lint-sdk-cli
        name: golangci-lint (sdk/cli)
        entry: bash -c 'cd sdk/cli && golangci-lint run --timeout=5m'
        language: system
        files: ^sdk/cli/.*\.go$
        pass_filenames: false

  # Python linting
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check (sdk/python)
        entry: bash -c 'cd sdk/python && ruff check .'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format check (sdk/python)
        entry: bash -c 'cd sdk/python && ruff format --check .'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

      - id: mypy
        name: mypy (sdk/python)
        entry: bash -c 'cd sdk/python && mypy agenttrace'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint-web
        name: eslint (web)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: eslint-sdk-ts
        name: eslint (sdk/typescript)
        entry: bash -c 'cd sdk/typescript && npm run lint'
        language: system
        files: ^sdk/typescript/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck (web)
        entry: bash -c 'cd web && npm run type-check'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-sdk-ts
        name: typecheck (sdk/typescript)
        entry: bash -c 'cd sdk/typescript && npx tsc --noEmit'
        language: system
        files: ^sdk/typescript/.*\.ts$
        pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.snap)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

feat(api): add v6 postgres repositories
  api/internal/repository/postgres/agent_benchmark_repository.go
  api/internal/repository/postgres/cost_guardrail_repository.go
  api/internal/repository/postgres/federated_instance_repository.go
  api/internal/repository/postgres/file_trace_mapping_repository.go
  api/internal/repository/postgres/knowledge_snapshot_repository.go
  api/internal/repository/postgres/multi_agent_session_repository.go
  api/internal/repository/postgres/prompt_baseline_repository.go
  api/internal/repository/postgres/replay_session_repository.go
  api/internal/repository/postgres/trace_embedding_repository.go
Due: golangci-lint-api

feat(api): add v6 feature services and tests
  api/internal/service/agent_benchmark_service.go
  api/internal/service/agent_benchmark_service_test.go
  api/internal/service/agent_knowledge_graph_service.go
  api/internal/service/agent_knowledge_graph_service_test.go
  api/internal/service/cost_guardrail_service.go
  api/internal/service/cost_guardrail_service_test.go
  api/internal/service/embedding_pipeline_service.go
  api/internal/service/embedding_pipeline_service_test.go
  api/internal/service/federated_aggregation_service.go
  api/internal/service/federated_aggregation_service_test.go
  api/internal/service/ide_trace_view_service.go
  api/internal/service/ide_trace_view_service_test.go
  api/internal/service/multi_agent_graph_service.go
  api/internal/service/multi_agent_graph_service_test.go
  api/internal/service/prompt_ci_service.go
  api/internal/service/prompt_ci_service_test.go
  api/internal/service/replay_session_service.go
  api/internal/service/replay_session_service_test.go
  api/internal/service/semantic_trace_search_service.go
  api/internal/service/semantic_trace_search_service_test.go
  api/internal/service/stripe_webhook_service.go
  api/internal/service/stripe_webhook_service_test.go
Due: golangci-lint-api

feat(api): add v6 HTTP handlers
  api/internal/handler/agent_benchmark.go
  api/internal/handler/agent_knowledge_graph.go
  api/internal/handler/cost_guardrail.go
  api/internal/handler/federated_aggregation.go
  api/internal/handler/ide_trace_view.go
  api/internal/handler/multi_agent_graph.go
  api/internal/handler/prompt_ci.go
  api/internal/handler/replay_session.go
  api/internal/handler/semantic_trace_search.go
Due: golangci-lint-api

feat(db): add v7 nextgen feature database migrations
  api/migrations/postgres/000031_v7_nextgen_features.down.sql
  api/migrations/postgres/000031_v7_nextgen_features.up.sql
Due: none

feat(api): add domain models for v7 features
  api/internal/domain/ai_debugger.go
  api/internal/domain/auto_discovery.go
  api/internal/domain/cloud_onboarding.go
  api/internal/domain/collab_hub.go
  api/internal/domain/cost_alerting.go
  api/internal/domain/otel_compat.go
  api/internal/domain/prompt_optimization.go
  api/internal/domain/regression_suite.go
  api/internal/domain/security_scanner.go
  api/internal/domain/workflow_simulator.go
Due: golangci-lint-api

feat(api): add v7 postgres repositories
  api/internal/repository/postgres/cloud_onboarding_repository.go
  api/internal/repository/postgres/cost_alert_repository.go
  api/internal/repository/postgres/debug_query_repository.go
  api/internal/repository/postgres/discovered_framework_repository.go
  api/internal/repository/postgres/golden_dataset_repository.go
  api/internal/repository/postgres/otel_destination_repository.go
  api/internal/repository/postgres/prompt_optimization_repository.go
  api/internal/repository/postgres/review_queue_repository.go
  api/internal/repository/postgres/security_scan_repository.go
  api/internal/repository/postgres/workflow_definition_repository.go
Due: golangci-lint-api

feat(api): add v7 feature services and tests
  api/internal/service/ai_debugger_service.go
  api/internal/service/ai_debugger_service_test.go
  api/internal/service/auto_discovery_service.go
  api/internal/service/auto_discovery_service_test.go
  api/internal/service/cloud_onboarding_service.go
  api/internal/service/cloud_onboarding_service_test.go
  api/internal/service/collab_hub_service.go
  api/internal/service/collab_hub_service_test.go
  api/internal/service/cost_alerting_service.go
  api/internal/service/cost_alerting_service_test.go
  api/internal/service/otel_compat_service.go
  api/internal/service/otel_compat_service_test.go
  api/internal/service/prompt_optimization_service.go
  api/internal/service/prompt_optimization_service_test.go
  api/internal/service/regression_suite_service.go
  api/internal/service/regression_suite_service_test.go
  api/internal/service/security_scanner_service.go
  api/internal/service/security_scanner_service_test.go
  api/internal/service/workflow_simulator_service.go
  api/internal/service/workflow_simulator_service_test.go
Due: golangci-lint-api

feat(api): add v7 HTTP handlers
  api/internal/handler/ai_debugger.go
  api/internal/handler/auto_discovery.go
  api/internal/handler/cloud_onboarding.go
  api/internal/handler/collab_hub.go
  api/internal/handler/cost_alerting.go
  api/internal/handler/otel_compat.go
  api/internal/handler/prompt_optimization.go
  api/internal/handler/regression_suite.go
  api/internal/handler/security_scanner.go
  api/internal/handler/workflow_simulator.go
Due: golangci-lint-api

feat(api): wire v6/v7 handlers, services, and routes
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_repositories.go
  api/cmd/server/deps_services.go
  api/cmd/server/routes.go
  api/internal/config/config.go
Due: golangci-lint-api

feat(web): add API client methods for v6/v7 features
  web/lib/api.ts
Due: eslint-web, typecheck-web

feat(web): add React Query hooks for v6/v7 feature dashboards
  web/hooks/use-agent-benchmarks.ts
  web/hooks/use-agent-knowledge-graph.ts
  web/hooks/use-ai-debugger.ts
  web/hooks/use-auto-discovery.ts
  web/hooks/use-cloud-onboarding.ts
  web/hooks/use-collab-hub.ts
  web/hooks/use-cost-alerting.ts
  web/hooks/use-cost-guardrails.ts
  web/hooks/use-federated-aggregation.ts
  web/hooks/use-ide-trace-view.ts
  web/hooks/use-multi-agent-graph.ts
  web/hooks/use-otel-compat.ts
  web/hooks/use-prompt-ci.ts
  web/hooks/use-prompt-optimization.ts
  web/hooks/use-regression-suite.ts
  web/hooks/use-replay-sessions.ts
  web/hooks/use-security-scanner.ts
  web/hooks/use-semantic-trace-search.ts
  web/hooks/use-workflow-simulator.ts
Due: eslint-web, typecheck-web

feat(web): add v6/v7 dashboard pages and sidebar navigation
  web/app/(dashboard)/agent-benchmarks/page.tsx
  web/app/(dashboard)/agent-knowledge/page.tsx
  web/app/(dashboard)/ai-debugger/page.tsx
  web/app/(dashboard)/collab/page.tsx
  web/app/(dashboard)/cost-alerts/page.tsx
  web/app/(dashboard)/cost-guardrails/page.tsx
  web/app/(dashboard)/discovery/page.tsx
  web/app/(dashboard)/ide-traces/page.tsx
  web/app/(dashboard)/multi-agent/page.tsx
  web/app/(dashboard)/onboarding/page.tsx
  web/app/(dashboard)/otel/page.tsx
  web/app/(dashboard)/prompt-ci/page.tsx
  web/app/(dashboard)/prompt-optimization/page.tsx
  web/app/(dashboard)/regression/page.tsx
  web/app/(dashboard)/replay/page.tsx
  web/app/(dashboard)/security/page.tsx
  web/app/(dashboard)/semantic-search/page.tsx
  web/app/(dashboard)/workflows/page.tsx
  web/components/layout/sidebar.tsx
  web/tsconfig.tsbuildinfo
Due: eslint-web, typecheck-web

feat(ext): add IDE trace view support for VSCode and JetBrains
  extensions/jetbrains/src/main/kotlin/io/agenttrace/plugin/api/IDETraceViewClient.kt
  extensions/vscode/src/providers/inlineAnnotationFetcher.ts
  extensions/vscode/src/utils/client.ts
Due: none

feat(deploy): add cloud deployment and prompt CI action configs
  actions/prompt-ci-test/action.yml
  deploy/docker-compose.cloud.yml
  deploy/nginx/cloud.conf
Due: none

iterflow(dx): iteration 2
  .gitignore
  .vscode/launch.json
  Makefile
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_services.go
  api/cmd/server/routes.go
  api/cmd/server/routes_agents.go
  api/cmd/server/routes_analysis.go
  api/cmd/server/routes_collaboration.go
  api/cmd/server/routes_compliance.go
  api/cmd/server/routes_cost.go
  api/cmd/server/routes_infra.go
  api/cmd/server/routes_prompts.go
  api/cmd/server/routes_scores.go
  api/cmd/server/routes_traces.go
  api/internal/domain/agent_comparison.go
  api/internal/domain/code_quality.go
  api/internal/domain/prompt_optimization_engine.go
  api/internal/domain/regression_detection.go
  api/internal/handler/agent_comparison.go
  api/internal/handler/code_quality.go
  api/internal/handler/regression_detection.go
  api/internal/handler/streaming_ws.go
  api/internal/service/agent_comparison_service.go
  api/internal/service/code_quality_service.go
  api/internal/service/prompt_tuning_service.go
  api/internal/service/regression_detection_service.go
  deploy/.env.example
  web/app/(dashboard)/agent-comparison/page.tsx
  web/app/(dashboard)/code-quality/page.tsx
  web/app/(dashboard)/regression-detection/page.tsx
  web/app/(dashboard)/streaming/page.tsx
  web/components/agent-comparison/agent-comparison-dashboard.tsx
  web/components/code-quality/code-quality-dashboard.tsx
  web/components/layout/sidebar.tsx
  web/components/regression-detection/regression-detection-dashboard.tsx
  web/components/streaming/realtime-stream-panel.tsx
  web/hooks/use-websocket-stream.ts
  web/tsconfig.tsbuildinfo
Due: golangci-lint-api, eslint-web, typecheck-web

iterflow(dx): iteration 3
  CONTRIBUTING.md
  Makefile
  api/Makefile
  docs/internal/prd.md
Due: none

iterflow(dx): iteration 4
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  Makefile
  README.md
  deploy/.env.example
  web/package.json
Due: none

feat(api): add v9 domain models for cost autopilot, adapters, and topology
  api/internal/domain/cost_optimization.go
  api/internal/domain/federated_aggregation.go
  api/internal/domain/multi_agent_graph.go
  api/internal/domain/plugin.go
  api/internal/domain/prompt_ci.go
  api/internal/domain/replay_session.go
  api/internal/domain/sandbox.go
Due: golangci-lint-api

feat(api): add v9 service implementations
  api/internal/service/cost_optimizer_service.go
  api/internal/service/embed_service.go
  api/internal/service/federated_aggregation_service.go
  api/internal/service/multi_agent_graph_service.go
  api/internal/service/plugin_service.go
  api/internal/service/prompt_ci_service.go
  api/internal/service/replay_session_service.go
  api/internal/service/sandbox_service.go
  api/internal/service/skill_profile_service.go
Due: golangci-lint-api

feat(api): add v9 HTTP handlers
  api/internal/handler/cost_optimizer.go
  api/internal/handler/embed.go
  api/internal/handler/federated_aggregation.go
  api/internal/handler/multi_agent_graph.go
  api/internal/handler/nlquery.go
  api/internal/handler/plugin.go
  api/internal/handler/prompt_ci.go
  api/internal/handler/replay_session.go
  api/internal/handler/sandbox.go
  api/internal/handler/skill_profile.go
Due: golangci-lint-api

feat(api): wire v9 routes, handlers, and dependencies
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_services.go
  api/cmd/server/routes.go
  api/cmd/server/routes_agents.go
  api/cmd/server/routes_analysis.go
  api/cmd/server/routes_cost.go
  api/cmd/server/routes_infra.go
  api/cmd/server/routes_prompts.go
Due: golangci-lint-api

feat(web): add API clients and hooks for v9 features
  web/hooks/use-cost-optimizer.ts
  web/hooks/use-replay-sessions.ts
  web/lib/api.ts
Due: eslint-web, typecheck-web

feat(web): add replay timeline speed control and progress bar
  web/components/replay/replay-timeline.tsx
Due: eslint-web, typecheck-web

feat(ci): add prompt CI gate evaluation to GitHub Action and GitLab CI
  actions/prompt-ci-test/action.yml
  ci/gitlab/agenttrace.yml
Due: none

feat(api): add domain models for alerts, runbooks, and trace comparison
  api/internal/domain/alert_rule.go
  api/internal/domain/runbook.go
  api/internal/domain/trace_comparison.go
Due: golangci-lint-api

feat(api): add domain models for GitOps prompts and version diffs
  api/internal/domain/gitops_prompt.go
  api/internal/domain/prompt_version_diff.go
Due: golangci-lint-api

feat(api): extend benchmark domain with ELO ratings and community API
  api/internal/domain/benchmark.go
Due: golangci-lint-api

feat(api): extend organization domain with teams and SSO group mapping
  api/internal/domain/organization.go
Due: golangci-lint-api

feat(api): add alert engine and runbook services
  api/internal/service/alert_engine_service.go
  api/internal/service/runbook_service.go
Due: golangci-lint-api

feat(api): add trace comparison service and handler
  api/internal/handler/trace_comparison.go
  api/internal/service/trace_comparison_service.go
Due: golangci-lint-api

feat(api): add prompt management services for GitOps and diffing
  api/internal/service/gitops_prompt_service.go
  api/internal/service/prompt_diff_service.go
Due: golangci-lint-api

feat(api): add debug session service and streaming anomaly pipeline
  api/internal/service/anomaly_service.go
  api/internal/service/debug_session_service.go
Due: golangci-lint-api

feat(api): add benchmark ELO ratings and community submission API
  api/internal/service/benchmark_service.go
Due: golangci-lint-api

feat(api): add hierarchical auth and SSO group provisioning
  api/internal/service/auth_service.go
  api/internal/service/sso_service.go
Due: golangci-lint-api

feat(sdk): add Python auto-discovery and zero-config instrumentation
  sdk/python/agenttrace/__init__.py
  sdk/python/agenttrace/auto_discovery.py
  sdk/python/agenttrace/hooks/sitecustomize.py
Due: ruff-check, ruff-format, mypy

feat(sdk): add CLI auto-instrument, doctor, and prompts commands
  sdk/cli/cmd/auto_instrument.go
  sdk/cli/cmd/doctor.go
  sdk/cli/cmd/prompts.go
  sdk/cli/cmd/root.go
Due: golangci-lint-sdk-cli

feat(extensions): add embeddable React component library
  extensions/react/README.md
  extensions/react/package.json
  extensions/react/src/components/AgentGraph.tsx
  extensions/react/src/components/CostChart.tsx
  extensions/react/src/components/PromptPlayground.tsx
  extensions/react/src/components/TraceViewer.tsx
  extensions/react/src/index.ts
  extensions/react/src/theme/provider.tsx
  extensions/react/tsconfig.json
Due: none

feat(web): add dashboard pages for alerts, debugger, leaderboard, and more
  web/app/(dashboard)/agent-benchmarks/leaderboard/page.tsx
  web/app/(dashboard)/alerts/page.tsx
  web/app/(dashboard)/debugger/page.tsx
  web/app/(dashboard)/prompts/[id]/versions/page.tsx
  web/app/(dashboard)/runbooks/page.tsx
  web/app/(dashboard)/traces/compare/page.tsx
Due: eslint-web, typecheck-web

feat(ci): add GitOps prompt sync inputs to CI action
  actions/prompt-ci-test/action.yml
Due: none

feat(marketplace): add categories, starter kits, and reviews endpoints
  api/cmd/server/routes_infra.go
  api/internal/domain/marketplace.go
  api/internal/handler/marketplace.go
  api/internal/service/marketplace_service.go
  web/app/(dashboard)/marketplace/page.tsx
Due: golangci-lint-api, eslint-web, typecheck-web
