Repository josedab/agenttrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-api, golangci-lint-sdk-go, golangci-lint-sdk-cli, ruff-check, ruff-format, mypy, eslint-web, eslint-sdk-ts, typecheck-web, typecheck-sdk-ts

golangci-lint-api:
  name: golangci-lint (api)
  entry: bash -c 'cd api && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

golangci-lint-sdk-go:
  name: golangci-lint (sdk/go)
  entry: bash -c 'cd sdk/go && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

golangci-lint-sdk-cli:
  name: golangci-lint (sdk/cli)
  entry: bash -c 'cd sdk/cli && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

ruff-check:
  name: ruff check (sdk/python)
  entry: bash -c 'cd sdk/python && ruff check .'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format check (sdk/python)
  entry: bash -c 'cd sdk/python && ruff format --check .'
  language: system
  pass_filenames: false

mypy:
  name: mypy (sdk/python)
  entry: bash -c 'cd sdk/python && mypy agenttrace'
  language: system
  pass_filenames: false

eslint-web:
  name: eslint (web)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

eslint-sdk-ts:
  name: eslint (sdk/typescript)
  entry: bash -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck (web)
  entry: bash -c 'cd web && npm run type-check'
  language: system
  pass_filenames: false

typecheck-sdk-ts:
  name: typecheck (sdk/typescript)
  entry: bash -c 'cd sdk/typescript && npx tsc --noEmit'
  language: system
  pass_filenames: false

docs(contributing): simplify branching strategy and update prereqs
  CONTRIBUTING.md
Due: none

docs(readme): add CI badges and one-click deploy buttons
  README.md
Due: none

docs(site): split monolithic pages into focused documentation
  docs/docs/agent-features/checkpoints.md
  docs/docs/agent-features/file-operations.md
  docs/docs/agent-features/git-linking.md
  docs/docs/agent-features/index.md
  docs/docs/agent-features/terminal-commands.md
  docs/docs/datasets/comparing-results.md
  docs/docs/datasets/creating-datasets.md
  docs/docs/datasets/index.md
  docs/docs/datasets/overview.md
  docs/docs/datasets/running-experiments.md
  docs/docs/evaluation/custom-evaluators.md
  docs/docs/evaluation/human-annotation.md
  docs/docs/evaluation/index.md
  docs/docs/evaluation/llm-as-judge.md
  docs/docs/evaluation/overview.md
  docs/docs/prompts/index.md
  docs/docs/prompts/labels.md
  docs/docs/prompts/overview.md
  docs/docs/prompts/playground.md
  docs/docs/prompts/variables.md
  docs/docs/prompts/versioning.md
Due: none

docs(site): add API reference documentation
  docs/docs/api-reference/authentication.md
  docs/docs/api-reference/checkpoints.md
  docs/docs/api-reference/ci-runs.md
  docs/docs/api-reference/datasets.md
  docs/docs/api-reference/evaluators.md
  docs/docs/api-reference/git-links.md
  docs/docs/api-reference/observations.md
  docs/docs/api-reference/prompts.md
  docs/docs/api-reference/scores.md
  docs/docs/api-reference/sessions.md
  docs/docs/api-reference/webhooks.md
Due: none

docs(site): add getting-started and core features docs
  docs/docs/features/cost-tracking.md
  docs/docs/features/latency-analysis.md
  docs/docs/features/observations.md
  docs/docs/features/scores.md
  docs/docs/features/sessions.md
  docs/docs/getting-started/comparison.md
  docs/docs/getting-started/first-trace.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/migration-from-langfuse.md
Due: none

docs(site): add integration and deployment documentation
  docs/docs/integrations/github-app.md
  docs/docs/integrations/gitlab-ci.md
  docs/docs/integrations/jetbrains.md
  docs/docs/integrations/vscode.md
  docs/docs/self-hosting/backup.md
  docs/docs/self-hosting/configuration.md
  docs/docs/self-hosting/docker-compose.md
  docs/docs/self-hosting/kubernetes.md
  docs/docs/self-hosting/scaling.md
  docs/static/robots.txt
Due: none

docs(site): add enterprise docs and update docusaurus config
  docs/docs/enterprise/audit-logs.md
  docs/docs/enterprise/compliance.md
  docs/docs/enterprise/rbac.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/sidebars.ts
Due: none

chore(repo): remove tracked build artifacts
  api/coverage.out
  api/service.test
Due: none

chore(worker): add versioned payload support for schema evolution
  api/internal/worker/anomaly_worker.go
  api/internal/worker/cleanup_worker.go
  api/internal/worker/cost_worker.go
  api/internal/worker/eval_worker.go
  api/internal/worker/export_worker.go
  api/internal/worker/notification_worker.go
  api/internal/worker/otel_worker.go
  api/internal/worker/payload.go
Due: golangci-lint-api

feat(config): improve validation and add OTel receiver config
  api/internal/config/config_test.go
  api/internal/config/loader.go
Due: golangci-lint-api

chore(deps): update Go modules and web testing dependencies
  api/go.mod
  api/go.sum
  sdk/cli/go.mod
  sdk/cli/go.sum
  web/package-lock.json
  web/package.json
Due: none

fix(ci): upgrade to Go 1.24 and harden e2e API key setup
  .gitignore
  ci/gitlab/agenttrace.yml
  scripts/e2e-setup.sh
Due: none

refactor(api): add service interfaces and testcontainers helpers
  api/internal/repository/postgres/project_repository_integration_test.go
  api/internal/service/interfaces.go
  api/internal/testutil/containers.go
Due: golangci-lint-api

feat(tenant): add multi-tenancy with plan-based usage metering
  api/internal/domain/tenant.go
  api/internal/middleware/tenant.go
  api/internal/middleware/tenant_test.go
  api/internal/repository/postgres/tenant_repository.go
  api/internal/service/tenant_service.go
  api/internal/service/tenant_service_test.go
  api/migrations/postgres/000015_tenants.down.sql
  api/migrations/postgres/000015_tenants.up.sql
Due: golangci-lint-api

feat(otel): add OTLP receiver with HTTP and gRPC support
  api/internal/domain/otel_receiver.go
  api/internal/handler/otel_receiver.go
  api/internal/handler/otlp_grpc.go
  api/internal/service/otel_receiver_service.go
  api/internal/service/otel_receiver_service_test.go
Due: golangci-lint-api

feat(guardrails): add safety rule engine with violation tracking
  api/internal/domain/guardrail.go
  api/internal/handler/guardrails.go
  api/internal/repository/postgres/guardrail_repository.go
  api/internal/service/guardrail_service.go
  api/internal/service/guardrail_service_test.go
  api/migrations/postgres/000016_guardrails.down.sql
  api/migrations/postgres/000016_guardrails.up.sql
Due: golangci-lint-api

feat(debug): add interactive trace debugging sessions
  api/internal/domain/debug_session.go
  api/internal/handler/debug.go
  api/internal/repository/postgres/debug_session_repository.go
  api/internal/service/debug_service.go
  api/migrations/postgres/000020_migrations_and_debug.down.sql
  api/migrations/postgres/000020_migrations_and_debug.up.sql
Due: golangci-lint-api

feat(migration): add cross-platform data import from Langfuse
  api/internal/domain/migration.go
  api/internal/handler/migration.go
  api/internal/repository/postgres/migration_repository.go
  api/internal/service/migration_service.go
  sdk/cli/cmd/migrate.go
  sdk/cli/cmd/migrate_test.go
Due: golangci-lint-api, golangci-lint-sdk-cli

feat(regression): add regression testing with CI quality gates
  actions/regression-gate/README.md
  actions/regression-gate/action.yml
  api/internal/domain/regression.go
  api/internal/handler/regression.go
  api/internal/repository/postgres/regression_repository.go
  api/internal/service/regression_service.go
  api/migrations/postgres/000017_regression_tests.down.sql
  api/migrations/postgres/000017_regression_tests.up.sql
Due: golangci-lint-api

feat(benchmarks): add benchmark framework and public leaderboards
  api/internal/domain/benchmark.go
  api/internal/handler/benchmarks.go
  api/internal/repository/postgres/benchmark_repository.go
  api/internal/service/benchmark_service.go
  api/migrations/postgres/000018_benchmarks.down.sql
  api/migrations/postgres/000018_benchmarks.up.sql
  examples/benchmarks/README.md
  examples/benchmarks/benchmarks.json
  scripts/seed-benchmarks.sh
Due: golangci-lint-api

feat(collaboration): add real-time trace collaboration with WebSocket
  api/internal/domain/collaboration.go
  api/internal/handler/collaboration.go
  api/internal/handler/collaboration_ws.go
  api/internal/repository/postgres/collaboration_repository.go
  api/internal/service/collaboration_service.go
  api/migrations/postgres/000019_collaboration.down.sql
  api/migrations/postgres/000019_collaboration.up.sql
Due: golangci-lint-api

Path conditions:
  golangci-lint-api: any of: ^api/.*\.go$
  golangci-lint-sdk-go: any of: ^sdk/go/.*\.go$
  golangci-lint-sdk-cli: any of: ^sdk/cli/.*\.go$
  ruff-check: any of: ^sdk/python/.*\.py$
  ruff-format: any of: ^sdk/python/.*\.py$
  mypy: any of: ^sdk/python/.*\.py$
  eslint-web: any of: ^web/.*\.(ts|tsx|js|jsx)$
  eslint-sdk-ts: any of: ^sdk/typescript/.*\.(ts|tsx|js|jsx)$
  typecheck-web: any of: ^web/.*\.(ts|tsx)$
  typecheck-sdk-ts: any of: ^sdk/typescript/.*\.ts$
