Repository josedab/agenttrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-api, golangci-lint-sdk-go, golangci-lint-sdk-cli, ruff-check, ruff-format, mypy, eslint-web, eslint-sdk-ts, typecheck-web, typecheck-sdk-ts

golangci-lint-api:
  name: golangci-lint (api)
  entry: bash -c 'cd api && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

golangci-lint-sdk-go:
  name: golangci-lint (sdk/go)
  entry: bash -c 'cd sdk/go && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

golangci-lint-sdk-cli:
  name: golangci-lint (sdk/cli)
  entry: bash -c 'cd sdk/cli && golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

ruff-check:
  name: ruff check (sdk/python)
  entry: bash -c 'cd sdk/python && ruff check .'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format check (sdk/python)
  entry: bash -c 'cd sdk/python && ruff format --check .'
  language: system
  pass_filenames: false

mypy:
  name: mypy (sdk/python)
  entry: bash -c 'cd sdk/python && mypy agenttrace'
  language: system
  pass_filenames: false

eslint-web:
  name: eslint (web)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

eslint-sdk-ts:
  name: eslint (sdk/typescript)
  entry: bash -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck (web)
  entry: bash -c 'cd web && npm run type-check'
  language: system
  pass_filenames: false

typecheck-sdk-ts:
  name: typecheck (sdk/typescript)
  entry: bash -c 'cd sdk/typescript && npx tsc --noEmit'
  language: system
  pass_filenames: false

chore: add E2E setup script
  scripts/e2e-setup.sh
Due: none

docs: add monitoring guide
  api/docs/MONITORING.md
Due: none

docs: add disaster recovery runbook
  api/docs/DISASTER_RECOVERY.md
Due: none

docs: add load testing guide
  api/docs/LOAD_TESTING.md
Due: none

docs: update deployment documentation
  api/docs/DEPLOYMENT.md
Due: none

feat(repository): add unlinked installations and project enhancements
  api/internal/repository/postgres/github_app_repository.go
  api/internal/repository/postgres/project_repository.go
  api/internal/service/github_app_service.go
  api/internal/service/project_service.go
  api/internal/service/prompt_library_service.go
Due: golangci-lint-api

docs(api): add package documentation for core packages
  api/internal/domain/doc.go
  api/internal/handler/doc.go
  api/internal/pkg/errors/doc.go
  api/internal/pkg/id/doc.go
  api/internal/repository/doc.go
  api/internal/service/doc.go
Due: golangci-lint-api

feat(validator): add request validation package
  api/internal/validator/doc.go
  api/internal/validator/validator.go
Due: golangci-lint-api

feat(dto): add data transfer objects for API handlers
  api/internal/dto/auth.go
  api/internal/dto/doc.go
  api/internal/dto/helper.go
  api/internal/dto/organization.go
  api/internal/dto/project.go
  api/internal/dto/score.go
Due: golangci-lint-api

refactor(handler/auth): use DTOs for request validation
  api/internal/handler/auth.go
  api/internal/handler/auth_test.go
Due: golangci-lint-api

perf(id): add sync.Pool for span ID generation
  api/internal/pkg/id/generator.go
Due: golangci-lint-api

test(id): add benchmarks for ID generation
  api/internal/pkg/id/generator_benchmark_test.go
Due: golangci-lint-api

feat(metrics): add database query metrics package
  api/internal/pkg/metrics/database.go
Due: golangci-lint-api

perf(database): add Prometheus metrics for database queries
  api/internal/pkg/database/clickhouse.go
  api/internal/pkg/database/postgres.go
Due: golangci-lint-api

fix(realtime): prevent goroutine leak in subscription cleanup
  api/internal/service/realtime_service.go
Due: golangci-lint-api

fix(sdk): add bounded queue, context support, and error reporting
  sdk/go/agenttrace.go
  sdk/go/agenttrace_benchmark_test.go
  sdk/go/agenttrace_race_test.go
Due: golangci-lint-sdk-go

test(api): add t.Parallel() to test files for concurrent execution
  api/internal/handler/health_test.go
  api/internal/handler/projects_test.go
  api/internal/handler/scores_test.go
  api/internal/middleware/auth_test.go
Due: golangci-lint-api

refactor(deps): split monolithic dependency initialization
  api/cmd/server/deps.go
  api/cmd/server/deps_databases.go
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_repositories.go
  api/cmd/server/deps_services.go
Due: golangci-lint-api

refactor(graphql): split resolver into base and implementation files
  api/gqlgen.yml
  api/internal/graphql/resolver/errors.go
  api/internal/graphql/resolver/resolver.go
  api/internal/graphql/resolver/resolvers.go
  api/models_gen.go
Due: golangci-lint-api

chore(routes): reorganize route registration
  api/cmd/server/routes.go
Due: golangci-lint-api

chore(deps): update go.mod dependencies
  api/go.mod
  api/go.sum
Due: none

Path conditions:
  golangci-lint-api: any of: ^api/.*\.go$
  golangci-lint-sdk-go: any of: ^sdk/go/.*\.go$
  golangci-lint-sdk-cli: any of: ^sdk/cli/.*\.go$
  ruff-check: any of: ^sdk/python/.*\.py$
  ruff-format: any of: ^sdk/python/.*\.py$
  mypy: any of: ^sdk/python/.*\.py$
  eslint-web: any of: ^web/.*\.(ts|tsx|js|jsx)$
  eslint-sdk-ts: any of: ^sdk/typescript/.*\.(ts|tsx|js|jsx)$
  typecheck-web: any of: ^web/.*\.(ts|tsx)$
  typecheck-sdk-ts: any of: ^sdk/typescript/.*\.ts$
