Repository josedab/agenttrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-api, golangci-lint-sdk-go, golangci-lint-sdk-cli, ruff-check, ruff-format, mypy, eslint-web, eslint-sdk-ts, typecheck-web, typecheck-sdk-ts

.pre-commit-config.yaml:

# Pre-commit hooks for AgentTrace
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Go linting
  - repo: local
    hooks:
      - id: golangci-lint-api
        name: golangci-lint (api)
        entry: bash -c 'cd api && golangci-lint run --timeout=5m'
        language: system
        files: ^api/.*\.go$
        pass_filenames: false

      - id: golangci-lint-sdk-go
        name: golangci-lint (sdk/go)
        entry: bash -c 'cd sdk/go && golangci-lint run --timeout=5m'
        language: system
        files: ^sdk/go/.*\.go$
        pass_filenames: false

      - id: golangci-lint-sdk-cli
        name: golangci-lint (sdk/cli)
        entry: bash -c 'cd sdk/cli && golangci-lint run --timeout=5m'
        language: system
        files: ^sdk/cli/.*\.go$
        pass_filenames: false

  # Python linting
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check (sdk/python)
        entry: bash -c 'cd sdk/python && ruff check .'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format check (sdk/python)
        entry: bash -c 'cd sdk/python && ruff format --check .'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

      - id: mypy
        name: mypy (sdk/python)
        entry: bash -c 'cd sdk/python && mypy agenttrace'
        language: system
        files: ^sdk/python/.*\.py$
        pass_filenames: false

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint-web
        name: eslint (web)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: eslint-sdk-ts
        name: eslint (sdk/typescript)
        entry: bash -c 'cd sdk/typescript && npm run lint'
        language: system
        files: ^sdk/typescript/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck (web)
        entry: bash -c 'cd web && npm run type-check'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-sdk-ts
        name: typecheck (sdk/typescript)
        entry: bash -c 'cd sdk/typescript && npx tsc --noEmit'
        language: system
        files: ^sdk/typescript/.*\.ts$
        pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.snap)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

feat(collaboration): add real-time trace collaboration with WebSocket
  api/internal/domain/collaboration.go
  api/internal/handler/collaboration.go
  api/internal/handler/collaboration_ws.go
  api/internal/repository/postgres/collaboration_repository.go
  api/internal/service/collaboration_service.go
  api/migrations/postgres/000019_collaboration.down.sql
  api/migrations/postgres/000019_collaboration.up.sql
Due: golangci-lint-api

feat(compliance): add EU AI Act assessments and audit export
  api/internal/domain/compliance.go
  api/internal/domain/compliance_export.go
  api/internal/handler/compliance.go
  api/internal/handler/compliance_export.go
  api/internal/service/compliance_export_service.go
  api/internal/service/compliance_service.go
  api/internal/service/compliance_service_test.go
  api/migrations/postgres/000021_compliance.down.sql
  api/migrations/postgres/000021_compliance.up.sql
Due: golangci-lint-api

feat(billing): add Stripe subscription and invoice management
  api/internal/domain/billing.go
  api/internal/handler/billing.go
  api/internal/service/billing_service.go
  api/migrations/postgres/000022_billing.down.sql
  api/migrations/postgres/000022_billing.up.sql
Due: golangci-lint-api

feat(cost): add optimization engine, budgets, and health prediction
  api/internal/domain/cost_budget.go
  api/internal/domain/cost_optimization.go
  api/internal/domain/prediction.go
  api/internal/handler/cost_budget.go
  api/internal/handler/cost_optimizer.go
  api/internal/handler/prediction.go
  api/internal/repository/postgres/cost_recommendation_repository.go
  api/internal/service/cost_budget_service.go
  api/internal/service/cost_budget_service_test.go
  api/internal/service/cost_optimizer_service.go
  api/internal/service/cost_optimizer_service_test.go
  api/internal/service/prediction_service.go
  api/migrations/postgres/000023_predictions_budgets.down.sql
  api/migrations/postgres/000023_predictions_budgets.up.sql
Due: golangci-lint-api

feat(visualization): add agent graph and reasoning tree explorers
  api/internal/domain/agent_graph.go
  api/internal/domain/reasoning.go
  api/internal/handler/agent_graph.go
  api/internal/handler/reasoning.go
  api/internal/service/agent_graph_service.go
  api/internal/service/agent_graph_service_test.go
  api/internal/service/reasoning_service.go
Due: golangci-lint-api

feat(api): add instrumentation guides, scorecards, and ticket pipeline
  api/internal/domain/instrumentation.go
  api/internal/domain/scorecard.go
  api/internal/domain/ticket.go
  api/internal/handler/instrumentation.go
  api/internal/handler/scorecard.go
  api/internal/handler/tickets.go
  api/internal/service/instrumentation_service.go
  api/internal/service/scorecard_service.go
  api/internal/service/ticket_service.go
  api/migrations/postgres/000024_scorecards_tickets.down.sql
  api/migrations/postgres/000024_scorecards_tickets.up.sql
Due: golangci-lint-api

feat(ingestion): integrate guardrails into trace ingestion pipeline
  api/internal/service/ingestion_service.go
Due: golangci-lint-api

feat(server): wire all new features into routes and startup
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_repositories.go
  api/cmd/server/deps_services.go
  api/cmd/server/main.go
  api/cmd/server/routes.go
Due: golangci-lint-api

test(web): add vitest setup with jsdom and React testing library
  web/vitest.config.ts
  web/vitest.setup.ts
Due: eslint-web, typecheck-web

feat(web): add agent graph and cost optimizer components
  web/components/agent-graph/agent-graph-view.tsx
  web/components/cost-optimizer/cost-optimizer-panel.tsx
Due: eslint-web, typecheck-web

feat(web): add guardrails panel and replay timeline
  web/components/guardrails/guardrails-panel.tsx
  web/components/replay/replay-timeline.tsx
Due: eslint-web, typecheck-web

test(web): add component, hook, and API unit tests
  web/components/__tests__/metrics-card.test.tsx
  web/hooks/__tests__/use-datasets.test.ts
  web/hooks/__tests__/use-metrics.test.ts
  web/hooks/__tests__/use-traces.test.ts
  web/lib/__tests__/api.test.ts
Due: eslint-web, typecheck-web

test(cli): add MCP and root command tests
  sdk/cli/cmd/mcp_test.go
  sdk/cli/cmd/root_test.go
Due: golangci-lint-sdk-cli

feat(db): add migration for next-gen features
  api/migrations/postgres/000025_next_gen_features.down.sql
  api/migrations/postgres/000025_next_gen_features.up.sql
Due: none

feat(domain): add domain types for next-gen features
  api/internal/domain/anomaly.go
  api/internal/domain/benchmark.go
  api/internal/domain/collaboration.go
  api/internal/domain/cost_optimization.go
  api/internal/domain/diff_intelligence.go
  api/internal/domain/guardrail.go
  api/internal/domain/otel.go
  api/internal/domain/replay.go
  api/internal/domain/streaming.go
Due: golangci-lint-api

feat(repo): add postgres repositories for next-gen features
  api/internal/repository/postgres/alert_channel_repository.go
  api/internal/repository/postgres/cost_autopilot_repository.go
  api/internal/repository/postgres/diff_analysis_repository.go
  api/internal/repository/postgres/discussion_repository.go
  api/internal/repository/postgres/federation_repository.go
  api/internal/repository/postgres/intervention_repository.go
Due: golangci-lint-api

feat(anomaly): enhance detection with dashboard and alert channels
  api/internal/handler/anomaly.go
  api/internal/service/anomaly_service.go
Due: golangci-lint-api

feat(guardrails): add playbook-based rule management
  api/internal/handler/guardrails.go
  api/internal/service/guardrail_service.go
Due: golangci-lint-api

feat(collab): add threaded discussions and evaluation queues
  api/internal/handler/collaboration.go
  api/internal/service/collaboration_service.go
Due: golangci-lint-api

feat(benchmarks): add benchmark comparison and statistics
  api/internal/handler/benchmarks.go
  api/internal/service/benchmark_service.go
Due: golangci-lint-api

feat(cost): add cost forecasting, autopilot, and reporting
  api/internal/handler/cost_optimizer.go
  api/internal/service/cost_optimizer_service.go
Due: golangci-lint-api

feat(replay): add reproduction scripts and A/B comparison
  api/internal/handler/replay.go
  api/internal/service/replay_service.go
Due: golangci-lint-api

feat(diff-intel): add diff intelligence service with quality scoring
  api/internal/handler/diff_intelligence.go
  api/internal/service/diff_intelligence_service.go
  api/internal/service/diff_intelligence_service_test.go
Due: golangci-lint-api

feat(streaming): add real-time trace streaming service
  api/internal/handler/streaming.go
  api/internal/service/streaming_service.go
  api/internal/service/streaming_service_test.go
Due: golangci-lint-api

feat(federation): add OTLP federation and export service
  api/internal/handler/federation.go
  api/internal/service/federation_service.go
  api/internal/service/federation_service_test.go
Due: golangci-lint-api

feat(server): wire next-gen feature dependencies and routes
  api/cmd/server/deps_handlers.go
  api/cmd/server/deps_repositories.go
  api/cmd/server/deps_services.go
  api/cmd/server/routes.go
Due: golangci-lint-api

test(e2e): add end-to-end tests for next-gen features
  api/tests/e2e/e2e_test.go
Due: golangci-lint-api

feat(web): extend API client and sidebar navigation
  web/components/layout/sidebar.tsx
  web/lib/api.ts
  web/tsconfig.tsbuildinfo
Due: eslint-web, typecheck-web
